---
import PageLayout from '../../layouts/PageLayout.astro';
import Hero from '../../components/Hero/Hero.astro';
import Block from '~/components/Blocks/Block.astro';
import Link from '../../components/ui/Link.astro';
import utilities from '~/data/utilities.json';

import astroImage from '~/assets/profile__hd.png';
import BlockImage from '~/components/Images/BlockImage.astro';

const title = 'About Me';
const description =
    'Get to know more about my experience in the digital landscape, how I keep my skills sharp, and the methods I prefer to use to produce my best work.';
const hero = {};
---

<PageLayout title={title} description={description} hero={hero}>
    <slot name="main">
        <p>We are a fantastic team doing amazing things.</p>

        <BlockImage src={astroImage} alt="Block picture" loading="eager" />
    </slot>

    <Block
        mode="pair"
        bg="bg-red-200"
        grid="grid mx-auto grid-cols-1 md:grid-cols-2 md:grid-rows-1 lg:grid-cols-block60 min-h-block gap-8 max-w-container"
        breakout={true}
    >
        <div
            slot="mc1"
            class:list={['self-center md:order-2', utilities.tramline.y]}
        >
            <blockquote
                class="not-prose m-0 pl-0 text-xl italic md:text-2xl xl:text-3xl"
            >
                <p class="mb-4 font-headline">
                    <strong
                        >So glad there's finally an app for K&nbsp;Ring!</strong
                    >
                </p>
                <p>
                    Good user experience: same interface style you're used to
                    from the website, but not just a web shell. Easy to navigate
                    and use. Notifications through the app are a plus!
                </p>
                <p class="cite">
                    <span class="mr-1 text-sm text-yellow-500"
                        ><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i></span
                    > James, 26 November 2021 (Play store)
                </p>
            </blockquote>
        </div>
        <div slot="mc2" class="not-prose self-end md:order-1">
            <img
                src="/img/work/mykringapp/iPhone__hand.png"
                class="relative m-0 mt-8 h-[480px] w-full object-contain lg:h-[640px]"
                alt="Hand holding an iPhone with mykring app in use"
            />
        </div>
    </Block>
</PageLayout>
