---
import Tags from '~/components/ui/Tags.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Link from '../ui/Link.astro';
import ReadTime from '../ui/ReadTime.astro';

interface CoverImage {
    src: ImageMetadata;
    alt: string;
    credit?: string;
}

interface ProductImage {
    src: ImageMetadata;
    alt: string;
}

interface LogoImage {
    src: ImageMetadata;
    light?: ImageMetadata;
}

interface Props {
    title: string;
    url: string;
    featured?: boolean;
    logo: ImageMetadata;
    product: ProductImage;
    cover: CoverImage;
    taster: string;
    tags: string[];
    readTime: string;
}

const {
    title,
    url,
    featured = false,
    cover,
    logo,
    product,
    taster,
    tags,
    readTime,
} = Astro.props;
---

<div class="h-full">
    <div
        class="absolute inset-0 flex h-full w-full items-center justify-center"
    >
        <Image
            src={cover.src}
            alt={cover.alt}
            class="absolute inset-0 m-0 h-full w-full object-cover"
            quality="high"
            widths={[400, 960, cover.src.width]}
            sizes={`100vw`}
        />
    </div>
    <div
        class="grid-rows-work mx-auto grid h-full w-full max-w-container grid-cols-1 items-center justify-items-center pt-[var(--headerheight)] text-content-light md:grid-rows-2 lg:grid-cols-block50 lg:grid-rows-1"
    >
        <div
            class="relative max-w-[45ch] self-start rounded pt-fl-space-l text-content-light backdrop-blur-md backdrop-brightness-95 backdrop-opacity-10 md:order-2 md:pt-0 lg:self-center lg:py-0"
        >
            <div>
                {
                    readTime && (
                        <ReadTime
                            duration={readTime}
                            class="text-fl-step--1 text-content-light/75"
                        />
                    )
                }

                <h2 class="capline font-headline text-fl-step-2">
                    <a href={url} class="text-headline" set:html={title} />
                </h2>
            </div>
            {
                taster && (
                    <p
                        set:html={taster}
                        class="my-fl-space-m line-clamp-4 lg:line-clamp-none "
                    />
                )
            }
            <p>
                <Link
                    href={url}
                    theme="primary"
                    isIcon={true}
                    class="md:inline-flex"
                >
                    View this project
                    <Icon
                        name="lucide:arrow-right-circle"
                        class="h-fl-space-s w-auto animate-nudge-right"
                    />
                </Link>
            </p>
            <span class="hidden md:block">
                <Tags {tags} url={true} class="mt-fl-space-m" />
            </span>
        </div>
        <div
            class="pb-fl-space- md:pb-0l relative flex w-full md:order-1 md:h-full lg:pb-0"
        >
            {
                product && (
                    <Image
                        loading="eager"
                        src={product.src}
                        class=" h-full max-h-full w-full max-w-[full] self-end  object-contain object-bottom  lg:object-center"
                        alt={product.alt}
                    />
                )
            }
        </div>
    </div>
</div>
