---
import utilities from '~/data/utilities.json';
import Tags from '~/components/ui/Tags.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Link from '../ui/Link.astro';
import ReadTime from '../ui/ReadTime.astro';

interface CoverImage {
    src: ImageMetadata;
    alt: string;
    credit?: string;
}

interface ProductImage {
    src: ImageMetadata;
    alt: string;
}

interface LogoImage {
    src: ImageMetadata;
    light?: ImageMetadata;
}

interface Props {
    title: string;
    url: string;
    featured?: boolean;
    logo: ImageMetadata;
    product: ProductImage;
    cover: CoverImage;
    taster: string;
    tags: string[];
    readTime: string;
}

const {
    title,
    url,
    featured = false,
    cover,
    logo,
    product,
    taster,
    tags,
    readTime,
} = Astro.props;
---

<div class="h-full">
    <div
        class="absolute inset-0 flex h-full w-full items-center justify-center"
    >
        <Image
            src={cover.src}
            alt={cover.alt}
            class="absolute inset-0 m-0 h-full w-full object-cover"
            quality="high"
            widths={[400, 960, cover.src.width]}
            sizes={`100vw`}
        />
    </div>
    <div
        class="grid-rows-showcase mx-auto grid h-full w-full max-w-container grid-cols-1 items-center text-content-light md:auto-rows-auto md:grid-cols-block50 md:grid-rows-1 xl:grid-cols-block33"
    >
        <div class="relative flex md:order-2 md:h-full">
            <div
                class="inset-0 w-full pt-[var(--smheaderheight)] md:absolute md:h-full md:py-[calc(var(--headerheight)/2)]"
            >
                {
                    product && (
                        <Image
                            src={product.src}
                            class=" h-60 max-h-full w-full max-w-full origin-bottom object-contain  md:h-full"
                            alt={product.alt}
                        />
                    )
                }
            </div>
        </div>
        <div
            class="relative max-w-[40ch] self-start rounded text-content-light backdrop-blur-md backdrop-brightness-95 backdrop-opacity-10 md:order-1 md:row-span-1 md:items-center md:gap-8 md:self-center md:justify-self-center"
        >
            <div>
                {
                    readTime && (
                        <ReadTime
                            duration={readTime}
                            class="text-fl-step--1 text-content-light/75"
                        />
                    )
                }

                <h2 class="capline text-fl-step-2 font-headline">
                    <a href={url} class="text-headline" set:html={title} />
                </h2>
            </div>
            {
                taster && (
                    <p
                        set:html={taster}
                        class="my-4 line-clamp-5 md:my-8 md:line-clamp-none "
                    />
                )
            }
            <p>
                <Link
                    href={url}
                    theme="primary"
                    isIcon={true}
                    class="md:inline-flex"
                >
                    View this project
                    <Icon
                        name="lucide:arrow-right-circle"
                        class="h-6 w-6 animate-nudge-right"
                    />
                </Link>
            </p>
            <span class="hidden md:block">
                <Tags {tags} url={true} class:list={[utilities.margin.t]} />
            </span>
        </div>
    </div>
</div>
