---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Button from '~/components/preact/Button.tsx';
import Tags from '~/components/ui/Tags.astro';

interface CoverImage {
    src: ImageMetadata;
    alt: string;
    credit?: string;
}

interface ProductImage {
    src: ImageMetadata;
    alt: string;
}

interface Props {
    title: string;
    url: string;
    featured?: boolean;
    product: ProductImage;
    cover: CoverImage;
    taster: string;
    tags: string[];
}

const {
    title,
    url,
    featured = false,
    cover,
    product,
    taster,
    tags,
} = Astro.props;
---

<div class="absolute inset-0 flex h-full w-full items-center justify-center">
    <Image
        src={cover.src}
        alt={cover.alt}
        class="absolute inset-0 m-0 h-full w-full object-cover"
        quality="high"
        widths={[400, 960, cover.src.width]}
        sizes={`100vw`}
    />
</div>
<div
    class="container mx-auto grid h-full w-full grid-cols-1 grid-rows-(--gtr-work) items-center justify-items-center pt-safe-top text-content-light md:grid-rows-2 lg:grid-cols-(--gtc-block50) lg:grid-rows-1"
>
    <div
        class="relative -mx-fluid-m max-w-[45ch] self-start rounded-lg p-fluid-m text-content-light backdrop-blur-lg backdrop-opacity-50 md:order-2 lg:self-center"
    >
        <div>
            <h2 class="font-display text-step-5 leading-tight xl:text-step-5">
                <a href={url} set:html={title} />
            </h2>
        </div>
        {
            taster && (
                <p
                    set:html={taster}
                    class="mb-fluid-m line-clamp-3 lg:line-clamp-none"
                />
            )
        }
        <p>
            <Button
                href={url}
                theme="action"
                isIcon={true}
                class="md:inline-flex"
            >
                View this project
                <Icon
                    name="lucide:arrow-right-circle"
                    class="h-fluid-s w-auto animate-nudge-right"
                />
            </Button>
        </p>
        <span class="hidden md:block">
            <Tags {tags} url={true} class="mt-fluid-m" />
        </span>
    </div>
    <div class="relative flex h-full min-h-0 self-center md:order-1">
        {
            product && (
                <Image
                    loading={'eager'}
                    src={product.src}
                    densities={[1.5, 2]}
                    width={720}
                    class="h-full max-h-full w-full self-end object-contain object-bottom lg:object-center"
                    alt={product.alt}
                />
            )
        }
    </div>
</div>
