---
import type { VisualKeys, CoverKeys, CTA } from '~/components/hero/Hero.astro';
import Button from '~/components/preact/Button.tsx';
import { Image, Picture } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import ArtDirection from '~/components/images/ArtDirection.astro';

interface Props {
    headline: string;
    visual?: VisualKeys;
    cover?: CoverKeys;
    legibility?: string;
    copy?: string;
    actions?: CTA[];
    class?: string;
}

const {
    class: ClassName,
    copy,
    actions = [],
    visual,
    cover,
    headline,
} = Astro.props;
---

{
    cover && (
        <div class="absolute inset-0 h-full w-full">
            <ArtDirection
                src={cover.src}
                artDirectives={cover.artDirectives}
                alt={cover.alt}
                loading="eager"
                class:list={[
                    cover.class ||
                        'h-full w-full object-cover object-bottom md:object-center',
                ]}
            />
        </div>
    )
}

<div
    class="relative container mx-auto grid grid-cols-1 gap-fluid-s pt-headerheight md:h-svh md:grid-cols-(--gtc-block50) md:not-dynamic:h-screen"
>
    <div class="w-full self-center py-fluid-xl">
        <h1
            class="text-shadow-headline relative mb-0 text-step-6/tight shadow-black/10"
            data-animate="fadeInDown"
        >
            {headline}
        </h1>
        <div class="rte">
            <Fragment set:html={copy} />
            {
                actions?.length > 0 && (
                    <p class="flex flex-row gap-2" data-animate="fadeInDown">
                        {actions.map((action) => (
                            <Button
                                theme={action.theme}
                                class={action.class}
                                href={action.href}
                                isIcon={!!action.icon}
                                {...(action.jump && { 'data-jump': '' })}
                            >
                                {action.text}
                                {action.icon && (
                                    <Icon
                                        name={action.icon}
                                        class="h-fluid-s w-fluid-s"
                                    />
                                )}
                            </Button>
                        ))}
                    </p>
                )
            }
        </div>
    </div>
    {
        visual && (
            <div
                class:list={[visual.wrapper ? visual.wrapper : 'relative']}
                data-animate="slideInRight"
            >
                {
                    <Picture
                        src={visual.src as ImageMetadata}
                        densities={visual.densities ?? [1.5, 2]}
                        width={visual.width ?? 600}
                        class:list={[
                            visual.class ||
                                'h-full w-full object-contain object-bottom',
                        ]}
                        alt={visual.alt}
                        loading={'eager'}
                    />
                }
            </div>
        )
    }
</div>
<slot />

<script>
    import { inView, animate, type AnimationSequence, stagger } from 'motion';

    const focus = document.querySelectorAll('[data-inview="cover"]');
    inView(
        focus,
        (el) => {
            const queryElementsByAnimation = (animation) => {
                return el.querySelectorAll(`[data-animate="${animation}"]`);
            };
            const slideInRight = queryElementsByAnimation('slideInRight');
            const fadeInDown = queryElementsByAnimation('fadeInDown');

            const sequenceIn: AnimationSequence = [
                [
                    slideInRight,
                    {
                        opacity: [0, 1],
                        transform: ['translateX(5%)', 'translateX(0%)'],
                    },
                    { duration: 0.75, delay: stagger(0.25) },
                ],
                [
                    fadeInDown,
                    {
                        opacity: [0, 1],
                        transform: ['translateY(-25%)', 'translateY(0%)'],
                    },
                    { duration: 0.25, delay: stagger(0.15) },
                ],
            ];
            animate(sequenceIn, {});

            return (leaveInfo) =>
                animate([
                    [fadeInDown, { opacity: 0 }, { at: 0 }],
                    [slideInRight, { opacity: 0 }, { at: '<' }],
                ]);
        },
        { amount: 0.25 }
    );
</script>
