---
import { footerNavigation } from '~/data/navigation';
import { Icon } from 'astro-icon/components';
import Availability from '~/components/ui/Availability.astro';
import siteInfo from '~/data/site';
import Social from '~/components/ui/Social.astro';

const year = new Date().getFullYear();
---

<footer
    class="bg-surface-bedrock py-fluid-2xl text-content-footer shadow-inset relative hidden lg:block"
>
    <div
        class="gap-fluid-m pr-fluid-xl relative container mx-auto grid grid-cols-3 items-end leading-none"
    >
        <a
            href="/"
            class="justify-self-start md:col-span-3"
            title="Return to home"
        >
            <Icon
                name="bypete__footer"
                title="byPete logo in white"
                class="h-fluid-l w-auto"
            />
        </a>
        {
            footerNavigation && (
                <ul class="gap-fluid-s flex flex-row flex-wrap leading-tight">
                    {footerNavigation.map((item) => (
                        <li>
                            <a href={item.url} class="link" title={item.label}>
                                {item.label}
                            </a>
                        </li>
                    ))}
                    <li>©{year}</li>
                </ul>
            )
        }
        <p class="text-step--1/relaxed justify-self-center">
            I'm <Availability url={`/connect/`} /> for new roles.
        </p>

        <div class="-mx-fluid-2xs flex justify-self-end">
            {
                siteInfo.socials.map((channel) => (
                    <Social
                        platform={channel.platform}
                        url={channel.url}
                        name={channel.icon}
                    />
                ))
            }
        </div>
    </div>
</footer>
