---
import { footerNavigation } from '~/data/navigation';
import { Icon } from 'astro-icon/components';
import Availability from '~/components/ui/Availability.astro';
import siteInfo from '~/data/site';
import Social from '~/components/ui/Social.astro';

const year = new Date().getFullYear();
---

<footer
    class="relative hidden bg-surface-bedrock py-fl-space-2xl text-content-footer shadow-inset lg:block"
>
    <div
        class="relative mx-auto grid max-w-container grid-cols-1 items-end gap-fl-space-m pr-fl-space-xl leading-none grid-areas-footer md:grid-cols-3 md:grid-areas-footerwide"
    >
        <a
            href="/"
            class="col-span-2 justify-self-start grid-in-logo"
            title="Return to home"
        >
            <Icon
                name="bypete__footer"
                title="byPete logo in white"
                class="h-fl-space-l w-auto"
            />
        </a>

        {
            footerNavigation && (
                <ul class="flex flex-row flex-wrap gap-fl-space-s leading-tight grid-in-legal">
                    {footerNavigation.map((item) => (
                        <li>
                            <a href={item.url} class="link" title={item.label}>
                                {item.label}
                            </a>
                        </li>
                    ))}
                    <li>©{year}</li>
                </ul>
            )
        }

        <div
            class="-mx-fl-space-2xs flex justify-start grid-in-social md:justify-self-end"
        >
            {
                siteInfo.socials.map((channel) => (
                    <Social
                        platform={channel.platform}
                        url={channel.url}
                        name={channel.icon}
                    />
                ))
            }
        </div>
        <p
            class="text-fl-step--1/relaxed grid-in-availability md:justify-self-center"
        >
            I'm <Availability url={`/connect/`} /> for new roles.
        </p>
    </div>
</footer>
