---
import { footerNavigation } from '~/data/navigation';
import BypeteBrand from '~/assets/svg/bypete__footer.svg?react';
import siteInfo from '~/data/site';
import Social from '~/components/ui/Social.astro';

const year = new Date().getFullYear();
---

<footer
    class="hidden grid-cols-2 items-center gap-fluid-m border-t border-t-line bg-surface px-safe-inline py-fluid-2xl leading-tight md:grid"
>
    <a href="/" class="justify-self-start md:col-span-2" title="Return to home">
        <BypeteBrand
            name="bypete__brand"
            title="byPete logo in brand colour"
            class="h-fluid-l w-auto"
        />
    </a>
    {
        footerNavigation && (
            <ul class="flex flex-row flex-wrap gap-fluid-s">
                {footerNavigation.map((item) => (
                    <li>
                        <a href={item.url} class="link" title={item.label}>
                            {item.label}
                        </a>
                    </li>
                ))}
                <li>©{year}</li>
            </ul>
        )
    }

    <div class="flex gap-fluid-2xs justify-self-end">
        {
            siteInfo.socials.map((channel) => (
                <Social
                    platform={channel.platform}
                    url={channel.url}
                    name={channel.icon}
                />
            ))
        }
    </div>
</footer>
