---
import { navigation, footerNavigation } from '~/data/navigation';
import NavSmallScreen from '~/components/navigation/NavSmallScreen.astro';

import { Icon } from 'astro-icon/components';
import Availability from '~/components/ui/Availability.astro';
import siteInfo from '~/data/site';
import Social from '~/components/ui/Social.astro';

interface Props {
    class?: string;
    isHeroDark: boolean;
    id?: string;
}

const { id, class: className, isHeroDark = false } = Astro.props;
const year = new Date().getFullYear();

const currentPath = new URL(Astro.request.url).pathname;
---

<div
    id={id}
    class="shadow-inside bg-surface-bedrock px-fluid-m shadow-shadow-inset invisible fixed top-0 right-0 bottom-0 h-full w-[calc(100vw-80px)] overflow-y-scroll md:w-[60vw]"
    data-lenis-prevent
    x-cloak
>
    <div
        id="mobileNavigation"
        class="not-dynamic:h-screen gap-fluid-m py-fluid-l text-content-light flex h-dvh w-full flex-col"
    >
        <a href="/" aria-label="byPete - home">
            <Icon
                name="bypete__white"
                title="byPete logo"
                class="h-fluid-xl shadow-brand-shade w-auto drop-shadow-xs"
            />
        </a>

        <nav class="mb-auto" x-cloak>
            <NavSmallScreen items={navigation} {currentPath} {isHeroDark} />
        </nav>

        <div>
            <p class="text-step--1/relaxed">
                I'm <Availability url={`/connect/`} /> for new roles.
            </p>
        </div>
        <div>
            {
                footerNavigation && (
                    <ul class="mb-fluid-m gap-fluid-2xs grid grid-flow-row">
                        {footerNavigation.map((item) => (
                            <li>
                                <a
                                    href={item.url}
                                    class="link"
                                    title={item.label}
                                >
                                    {item.label}
                                </a>
                            </li>
                        ))}
                        <li>©{year}</li>
                    </ul>
                )
            }
            <div class="gap-fluid-2xs grid grid-flow-col justify-start">
                {
                    siteInfo.socials.map((channel) => (
                        <Social
                            platform={channel.platform}
                            url={channel.url}
                            class="text-content-light hover:text-brand"
                            css="w-fluid-l h-fluid-l fill-current"
                            name={channel.icon}
                        />
                    ))
                }
            </div>
        </div>
    </div>
</div>

<button
    x-cloak
    id="closeMobileNav"
    class="bg-surface-raised fixed top-0 left-0 z-1000 h-full w-[80px] opacity-0 md:w-[40vw]"
    x-show="isMobileNavOpen"
    @click="isMobileNavOpen = false"></button>
