---
import { getCollection } from 'astro:content';
import PageLayout from '../../layouts/PageLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
import { formatBlogPosts } from '~/js/utils';
export async function getStaticPaths() {
    const allPosts = await getCollection('posts');
    const allWorks = await getCollection('work');
    const collection = [...allPosts, ...allWorks];
    const uniqueTags = [
        ...new Set(collection.map((post) => post.data.tags).flat()),
    ];
    return uniqueTags.map((tag) => {
        const filteredPosts = collection.filter((post) =>
            post.data?.tags?.includes(tag as string),
        );
        return {
            params: { tag: tag as string },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const formattedPosts = formatBlogPosts(posts, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: true,
    limit: undefined,
});
---

<PageLayout title={tag} isWide={false} prose={false}>
    <p class="mb-fl-space-m">
        Displaying {formattedPosts.length} post{
            formattedPosts.length > 1 && 's'
        } tagged with <strong>{tag}</strong>
    </p>
    <div class="grid columns-1 gap-y-fl-space-xl">
        {
            formattedPosts.map(async (post) => {
                const { remarkPluginFrontmatter } = await post.render();
                const featured = post.data.tags.includes('featured');
                return (
                    <BlogPost
                        url={`/${post.collection}/${post.slug}/`}
                        title={post.data.title}
                        taster={post.data.taster}
                        tags={post.data.tags}
                        cover={post.data.cover}
                        logo={post.data.logo}
                        readTime={remarkPluginFrontmatter.minutesRead}
                    />
                );
            })
        }
    </div>
    <p class="mt-fl-space-xl">
        View <a href="/tags/" class="link">all tags</a>
    </p>
</PageLayout>
