---
import { getCollection } from 'astro:content';
import ListingLayout from '../layouts/ListingLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const title = 'Blog';
const allPosts = await getCollection('posts');
---

<ListingLayout title={title}>
    <div class="grid grid-cols-1 gap-8 md:gap-32">
        {
            allPosts.map(async (post) => {
                const { remarkPluginFrontmatter } = await post.render();
                return (
                    <BlogPost
                        url={`/${post.collection}/${post.slug}/`}
                        title={post.data.title}
                        taster={post.data.taster}
                        tags={post.data.tags}
                        cover={post.data.cover}
                        readTime={remarkPluginFrontmatter.minutesRead}
                    />
                );
            })
        }
    </div>
</ListingLayout>
