---
import { Icon } from 'astro-icon/components';
import Clients from '~/components/marquees/Clients.astro';
import Button from '~/components/preact/Button.tsx';
import Roles from '~/components/Roles.astro';
import SwiperHome from '~/components/Swiper/Home.astro';
import Prompt from '~/components/ui/Prompt.astro';
import WorkCard from '~/components/work/WorkCard.astro';
import { clientSlides } from '~/data/clients';
import { heroSlides, roles } from '~/data/home';
import SplashLayout from '~/layouts/SplashLayout.astro';

const title = 'Home';

import ogImage from '~/assets/og/og__home.jpg';

const og = {
    title: 'About Pete Wallace',
    description:
        'Pete Wallace is an experienced Front-End developer based in Surrey, UK. Get to know more about my experience in the digital landscape, how I keep my skills sharp, and the methods I prefer to use to produce my best work.',
    image: {
        src: ogImage,
        alt: 'ByPete Homepage',
    },
};

import { getCollection, render } from 'astro:content';
import { formatBlogPosts } from '~/libs';

const allWork = await getCollection('work');

const formattedPosts = formatBlogPosts(allWork, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: true,
    limit: 5,
});
---

<SplashLayout title={title} {og}>
    <main
        id="content"
        class="layout grid grid-cols-(--gtc-layout) gap-x-(--viewport-safe-inline)"
        data-layout="page"
    >
        <section
            class="relative col-[full] grid w-full grid-cols-1 grid-rows-(--gtr-work) gap-y-fluid-m pb-fluid-m text-content outline-hidden lg:h-svh lg:grid-cols-(--gtc-work) lg:grid-rows-1 @min-page/page:grid-cols-(--gtc-work)"
        >
            <div
                class="order-2 self-end px-safe-inline lg:order-1 lg:my-safe-top lg:pr-0"
            >
                <Roles roles={roles} />
                <p
                    class="text-shadow-emboss my-fluid-s text-step-0 shadow-slate-900"
                >
                    Discover the stories behind my projects, the challenges
                    addressed, and the solutions crafted.
                </p>
                <p class="flex flex-wrap items-center gap-fluid-xs">
                    <Button
                        theme="action"
                        isIcon={true}
                        class="md:inline-flex"
                        href="/work/"
                    >
                        View the portfolio <Icon
                            name="lucide:arrow-right-circle"
                            class="h-fluid-s w-fluid-s animate-nudge-right"
                        />
                    </Button>
                    <Button href="/about/" theme="white">Read my bio</Button>
                </p>
            </div>

            <div
                class="relative order-1 flex h-full w-full items-center lg:order-2"
            >
                <SwiperHome slides={heroSlides} />
            </div>
            <div
                class="pointer-events-none absolute top-[100svh] left-1/2 z-100 -translate-x-1/2 -translate-y-full pb-fluid-s text-content not-dynamic:top-[100vh]"
            >
                <Prompt label="Scroll" dir="down" />
            </div>
        </section>
        <section id="featured" class="relative col-[content] py-fluid-2xl">
            <h2
                class="mt-0 mb-fluid-2xl bg-linear-to-br from-content to-content-shout bg-clip-text text-center font-display text-step-7/none font-black tracking-tight text-transparent uppercase"
            >
                Featured work
            </h2>
            <div
                data-inview="cards"
                data-cloaked
                class="grid grid-cols-1 gap-fluid-xl md:grid-cols-2 lg:grid-cols-3 cloaked:invisible"
            >
                {
                    formattedPosts.map(async (post) => {
                        const { remarkPluginFrontmatter } = await render(post);
                        return (
                            <WorkCard
                                url={`/${post.collection}/${post.id}/`}
                                title={post.data.title}
                                taster={post.data.taster}
                                tags={post.data.tags}
                                cover={post.data.cover}
                                logo={post.data.logo}
                                product={post.data.product}
                                readTime={remarkPluginFrontmatter.minutesRead}
                                featured={post.data.featured}
                                animate-card
                            />
                        );
                    })
                }

                <div animate-card class="self-start">
                    <h2 class="mt-0 text-step-2">Want to see more...?</h2>
                    <p class="mb-fluid-s">
                        A complete list of case studies can be found in the <strong
                            >Work</strong
                        > section.
                    </p>
                    <p>
                        <Button
                            theme="action"
                            isIcon={true}
                            class="md:inline-flex"
                            href="/work/"
                        >
                            Explore the collection <Icon
                                name="lucide:folder-archive"
                                class="h-fluid-s w-fluid-s animate-nudge-right"
                            />
                        </Button>
                    </p>
                </div>
            </div>
        </section>
        <section class="z-(--z-content) col-[content] py-fluid-2xl">
            <h3
                class="mb-fluid-m text-center text-step-1 font-bold text-content-quiet"
            >
                Some of the brands I've worked with:
            </h3>
            <Clients clients={clientSlides} />
        </section>
    </main>
</SplashLayout>
<script>
    import { inView, animate, stagger, type AnimationSequence } from 'motion';

    const section = document.querySelector("[data-inview='cards']");

    if (section) {
        requestAnimationFrame(() => {
            section.removeAttribute('data-cloaked');
        });
    }

    inView(
        "[data-inview='cards'] [animate-card]",
        (element) => {
            const sequence: AnimationSequence = [
                [
                    element,
                    {
                        opacity: [0, 1],
                        y: ['var(--spacing-fluid-xl)', 0],
                    },
                    {
                        duration: 0.25,
                        ease: [0.22, 1, 0.36, 1],
                    },
                ],
                [
                    element.querySelectorAll('h2, p'),
                    {
                        opacity: [0, 1],
                    },
                    {
                        delay: stagger(0.25),
                        duration: 1.25,
                        ease: 'easeIn',
                    },
                ],
            ];
            animate(sequence).then(() => {});
        },
        { margin: '-48px' },
    );
</script>
