---
import { Image } from 'astro:assets';
import { homepageSwiper, roles } from '~/data/homepage';
import SwiperHomepage from '~/components/Swipers/SwiperHomepage.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';
import WorkGrid from '~/components/WorkGrid.astro';
import Hero from '~/components/Hero/Hero.astro';
import Link from '~/components/ui/Link.astro';
import { Icon } from 'astro-icon/components';
import Roles from '~/components/Roles.astro';

const title = 'Home page';
const hero = {
    mode: 'home',
    bg: 'bg-slate-900',
    scrollprompt: true,
    dark: true,
    threshold: 25,
    wrapper:
        'grid grid-cols-1 items-center overflow-x-hidden pb-[240px] min-h-[calc(100svh+240px)] angleclip origin-top [&+*]:-mt-[240px]',
};

import heatmap from '~/assets/hero/heatmap--r.webp';
import heatmap_sm from '~/assets/hero/heatmap--b@sm.webp';
import contourHeatmap from '~/icons/contour__HeatmapMiddleRight.svg';

import { formatBlogPosts } from '~/js/utils';
import { getCollection } from 'astro:content';
const allWork = await getCollection('work');

const formattedPosts = formatBlogPosts(allWork, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: true,
    limit: 5,
});
---

<BaseLayout
    title={title}
    isHeroDark={hero.dark}
    ogImage={{ src: '/og/astro.jpg', alt: 'Astro - Build the web you want.' }}
>
    <slot slot="hero">
        <Hero hero={hero}>
            <Fragment slot="background">
                <Image
                    src={heatmap}
                    alt="Purple gradient background"
                    class="h-full w-full object-cover object-bottom md:object-center"
                />
                <Image
                    src={contourHeatmap}
                    alt="background"
                    class="fixed inset-0 h-full w-full object-cover"
                />
            </Fragment>

            <Fragment slot="content">
                <Roles roles={roles} />
                <div class="text-white shadow-slate-900 text-shadow-emboss">
                    <p class="mb-4 text-lg">
                        This space has been crafted to demonstrate my abilities,
                        methods, and expertise.
                    </p>
                    <p
                        class="flex flex-wrap items-center gap-4 text-shadow-none"
                    >
                        <Link
                            theme="primary"
                            isIcon={true}
                            class="md:inline-flex"
                            href="/work"
                        >
                            View some work <Icon
                                name="lucide:arrow-right-circle"
                                class="h-6 w-6 animate-nudge-right"
                            />
                        </Link>
                        <Link href="/about" theme="outline">Read my bio</Link>
                    </p>
                </div>
            </Fragment>

            <Fragment slot="visual">
                <SwiperHomepage slides={homepageSwiper} />
            </Fragment>
        </Hero>
    </slot>
    <section
        class="from-bkgd-contrast bg-gradient-to-b pb-4 md:pb-8"
        x-data="{ section: false }"
        x-intersect.threshold.10="section = true"
    >
        <div class="relative mx-auto max-w-container">
            <h2
                class="mt-8 text-center font-headline text-3xl font-bold tracking-tight text-white shadow-slate-900 text-shadow-emboss md:text-4xl"
                x-cloak
                x-bind:class="section ? 'animate-fade-in-up' : 'invisible'"
            >
                Featured work
            </h2>
            <div
                class="my-8 grid grid-cols-1 gap-8 md:grid-cols-3 lg:my-10 lg:gap-10"
                x-cloak
            >
                {
                    formattedPosts.map(async (post) => {
                        const { remarkPluginFrontmatter } = await post.render();
                        const featured = post.data.tags.includes('featured');
                        return (
                            <WorkGrid
                                url={`/work/${post.slug}/`}
                                title={post.data.title}
                                taster={post.data.taster}
                                tags={post.data.tags}
                                cover={post.data.cover}
                                readTime={remarkPluginFrontmatter.minutesRead}
                                featured={featured}
                            />
                        );
                    })
                }

                <div class="rte self-center p-6">
                    <Icon
                        name="lucide:folder-archive"
                        class="h-8 w-8 animate-pulse"
                    />
                    <h2 class="font-headline">Want to see more...?</h2>
                    <p>
                        A complete list of case studies can be found in the <strong
                            >Work</strong
                        > section.
                    </p>
                    <p>
                        <Link
                            theme="primary"
                            isIcon={true}
                            class="md:inline-flex"
                            href="/work"
                        >
                            Explore the archive <Icon
                                name="lucide:arrow-right-circle"
                                class="h-6 w-6 animate-nudge-right"
                            />
                        </Link>
                    </p>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>
