---
import { Image } from 'astro:assets';
import { heroSlides, roles } from '~/data/home';
import { clientSlides } from '~/data/clients';
import SwiperHome from '~/components/Swiper/Home.astro';
import HomeLayout from '~/layouts/HomeLayout.astro';
import WorkGrid from '~/components/WorkGrid.astro';
import Hero from '~/components/Hero/Hero.astro';
import Link from '~/components/ui/Link.astro';
import { Icon } from 'astro-icon/components';
import Roles from '~/components/Roles.astro';
import SwiperClients from '~/components/Swiper/Clients.astro';

const title = 'Home';
const hero = {
    mode: 'home',
    bg: 'bg-slate-900',
    scrollprompt: true,
    dark: true,
    threshold: 25,
    wrapper:
        'grid grid-cols-1 items-center overflow-x-hidden pb-[240px] min-h-[calc(100svh+240px)] angleclip origin-top [&+*]:-mt-[240px]',
};

import heatmap from '~/assets/hero/heatmap--r.webp';
import heatmap_sm from '~/assets/hero/heatmap--b@sm.webp';
import contourHeatmap from '~/icons/contour__HeatmapMiddleRight.svg';

import { formatBlogPosts } from '~/js/utils';
import { getCollection } from 'astro:content';
const allWork = await getCollection('work');

const formattedPosts = formatBlogPosts(allWork, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: true,
    limit: 5,
});
---

<HomeLayout
    title={title}
    isHeroDark={hero.dark}
    ogImage={{ src: '/og/astro.jpg', alt: 'Astro - Build the web you want.' }}
>
    <Hero slot="slothero" hero={hero}>
        <Fragment slot="background">
            <Image
                src={heatmap}
                alt="Purple gradient background"
                class="h-full w-full object-cover object-bottom md:object-center"
            />
            <Image
                src={contourHeatmap}
                alt="background"
                class="fixed inset-0 h-full w-full object-cover"
            />
        </Fragment>

        <Fragment slot="content">
            <Roles roles={roles} />
            <div class="text-content-light shadow-slate-900 text-shadow-emboss">
                <p class="mb-4 text-fl-step-0">
                    This space is a place to view some of the projects I've
                    worked on and get an insight into my methods.
                </p>
                <p class="flex flex-wrap items-center gap-4 text-shadow-none">
                    <Link
                        theme="primary"
                        isIcon={true}
                        class="md:inline-flex"
                        href="/work"
                    >
                        Show me some work <Icon
                            name="lucide:arrow-right-circle"
                            class="h-6 w-6 animate-nudge-right"
                        />
                    </Link>
                    <Link href="/about" theme="outline">Read my bio</Link>
                </p>
            </div>
        </Fragment>

        <Fragment slot="visual">
            <SwiperHome slides={heroSlides} />
        </Fragment>
    </Hero>
    <section
        class="bg-gradient-to-b from-page-contrast pb-4 md:pb-8"
        x-data="{ section: false }"
        x-intersect.threshold.10="section = true"
    >
        <div class="relative mx-auto max-w-container">
            <h2
                class="mt-8 text-center font-headline text-fl-step-4 font-bold tracking-tight text-content-light shadow-slate-900 text-shadow-emboss"
                x-cloak
                x-bind:class="section ? 'animate-fade-in-up' : 'invisible'"
            >
                Featured work
            </h2>
            <div
                class="my-8 grid grid-cols-1 gap-8 md:grid-cols-3 lg:my-10 lg:gap-10"
                x-cloak
            >
                {
                    formattedPosts.map(async (post) => {
                        const { remarkPluginFrontmatter } = await post.render();
                        const featured = post.data.tags.includes('featured');
                        return (
                            <WorkGrid
                                url={`/${post.collection}/${post.slug}/`}
                                title={post.data.title}
                                taster={post.data.taster}
                                tags={post.data.tags}
                                cover={post.data.cover}
                                logo={post.data.logo}
                                product={post.data.product}
                                readTime={remarkPluginFrontmatter.minutesRead}
                                featured={featured}
                            />
                        );
                    })
                }

                <div class="rte self-center p-6">
                    <Icon
                        name="lucide:folder-archive"
                        class="h-8 w-8 animate-pulse"
                    />
                    <h2 class="font-headline">Want to see more...?</h2>
                    <p>
                        A complete list of case studies can be found in the <strong
                            >Work</strong
                        > section.
                    </p>
                    <p>
                        <Link
                            theme="primary"
                            isIcon={true}
                            class="md:inline-flex"
                            href="/work"
                        >
                            Explore the archive <Icon
                                name="lucide:arrow-right-circle"
                                class="h-6 w-6 animate-nudge-right"
                            />
                        </Link>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="relative mx-auto max-w-container py-16 md:py-24">
        <SwiperClients clients={clientSlides} />
    </div>
</HomeLayout>
