---
import { Image } from 'astro:assets';
import { Picture } from 'astro:assets';
import { heroSlides, roles } from '~/data/home';
import { clientSlides } from '~/data/clients';
import SwiperHome from '~/components/Swiper/Home.astro';
import SplashLayout from '~/layouts/SplashLayout.astro';
import WorkGrid from '~/components/WorkGrid.astro';
import Link from '~/components/ui/Link.astro';
import { Icon } from 'astro-icon/components';
import Roles from '~/components/Roles.astro';
import SwiperClients from '~/components/Swiper/Clients.astro';
import ScrollPrompt from '~/components/ui/ScrollPrompt.astro';

const title = 'Home';
const hero = {
    dark: true,
    threshold: 25,
};

const ogImage = {
    src: '/og/og__home.jpg',
    alt: 'byPete homepage',
};

import heatmap from '~/assets/hero/heatmap__right-center.png';

import { formatBlogPosts } from '~/js/utils';
import { getCollection } from 'astro:content';
const allWork = await getCollection('work');

const formattedPosts = formatBlogPosts(allWork, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: true,
    limit: 5,
});
---

<SplashLayout title={title} isHeroDark={hero.dark} {ogImage}>
    <section
        class="angleclip relative origin-top items-center overflow-x-hidden bg-slate-900 bg-cover pb-fl-space-splashoverlap [&+*]:-mt-fl-space-splashoverlap"
    >
        <div class="absolute inset-0 h-full w-full">
            <Picture
                src={heatmap}
                quality={'max'}
                loading={'eager'}
                formats={['avif', 'webp']}
                alt="Purple gradient background"
                class="absolute h-full w-full object-cover object-bottom md:object-center"
            />
        </div>

        <div
            class="relative mx-auto grid h-screenSvh w-full max-w-container grid-cols-1 grid-rows-home pt-[var(--headerheight)] lg:grid-flow-col lg:grid-cols-block40 lg:grid-rows-1"
        >
            <!-- content -->
            <div
                class="rte-content pt-fl-space-l lg:max-w-[60ch] lg:self-center"
            >
                <Roles roles={roles} />
                <p
                    class="my-fl-space-s text-fl-step-0 text-content-light shadow-slate-900 text-shadow-emboss"
                >
                    Discover the stories behind my projects, the challenges
                    addressed, and the solutions crafted.
                </p>
                <p
                    class="flex flex-wrap items-center gap-fl-space-xs text-shadow-none"
                >
                    <Link
                        theme="primary"
                        isIcon={true}
                        class="md:inline-flex"
                        href="/work/"
                    >
                        View the portfolio <Icon
                            name="lucide:arrow-right-circle"
                            class="h-fl-space-s w-fl-space-s animate-nudge-right"
                        />
                    </Link>
                    <Link href="/about/" theme="whiteline">Read my bio</Link>
                </p>
            </div>
            <!-- END content -->

            <!-- visual -->
            <div
                class="relative flex min-h-0 min-w-0 items-center justify-center"
            >
                <!-- <div class="absolute aspect-1 w-full scale-105">
                    <div
                        class="absolute h-full w-full animate-morph-delay border border-white/25"
                    >
                    </div>
                    <div
                        class="absolute h-full w-full animate-morph bg-slate-900/5"
                    >
                    </div>
                </div> -->
                <SwiperHome slides={heroSlides} />
            </div>
            <!-- END visual -->
        </div>
        <div
            class="pointer-events-none absolute left-1/2 top-screenSvh z-100 -translate-x-1/2 -translate-y-full pb-fl-space-s text-content-light"
        >
            <ScrollPrompt />
        </div>
    </section>

    <section
        class="bg-gradient-to-b from-page-contrast pb-fl-space-s"
        x-data="{ section: false }"
        x-intersect.threshold.10="section = true"
    >
        <div class="relative mx-auto max-w-container">
            <h2
                class="m-0 text-center font-headline text-fl-step-4 font-bold tracking-tight text-content-light"
                x-cloak
                x-bind:class="section ? 'animate-fade-in-up' : 'invisible'"
            >
                Featured work
            </h2>
            <div
                class="my-fl-space-m grid grid-cols-1 gap-fl-space-xl md:grid-cols-2 lg:grid-cols-3"
                x-cloak
            >
                {
                    formattedPosts.map(async (post) => {
                        const { remarkPluginFrontmatter } = await post.render();
                        const featured = post.data.tags.includes('featured');
                        return (
                            <WorkGrid
                                url={`/${post.collection}/${post.slug}/`}
                                title={post.data.title}
                                taster={post.data.taster}
                                tags={post.data.tags}
                                cover={post.data.cover}
                                logo={post.data.logo}
                                product={post.data.product}
                                readTime={remarkPluginFrontmatter.minutesRead}
                                featured={featured}
                            />
                        );
                    })
                }

                <div class="rte self-center p-fl-space-s">
                    <Icon
                        name="lucide:folder-archive"
                        class="h-fl-space-l w-fl-space-l animate-pulse"
                    />
                    <h2 class="font-headline">Want to see more...?</h2>
                    <p>
                        A complete list of case studies can be found in the <strong
                            >Work</strong
                        > section.
                    </p>
                    <p>
                        <Link
                            theme="primary"
                            isIcon={true}
                            class="md:inline-flex"
                            href="/work/"
                        >
                            Explore the collection <Icon
                                name="lucide:arrow-right-circle"
                                class="h-fl-space-s w-fl-space-s animate-nudge-right"
                            />
                        </Link>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="relative mx-auto max-w-container py-fl-space-2xl">
        <h3
            class="mb-fl-space-s text-center text-fl-step-1 font-bold text-quiet"
        >
            Some of the brands I've worked with:
        </h3>
        <SwiperClients clients={clientSlides} />
    </div>
</SplashLayout>
<script>
    import intersect from '@alpinejs/intersect';

    document.addEventListener('alpine:init', () => {
        Alpine.plugin(intersect);
    });
</script>
