---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
import MobileLink from './MobileLink.astro';
import MenuLinkChild from './MenuLinkChild.astro';

const allPosts = await getCollection('work');
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
const { isHeroDark } = Astro.props;
const year = new Date().getFullYear();
---

<div
    class="fixed inset-0 z-banner flex h-full bg-brand"
    x-show="smNav"
    x-cloak
    x-transition:enter="transition ease-out duration-500"
    x-transition:enter-start="transform opacity-0"
    x-transition:enter-end="transform opacity-100 "
    x-transition:leave="transition ease-in duration-75"
    x-transition:leave-start="transform opacity-100 "
    x-transition:leave-end="transform opacity-0 "
>
    <div class="mr-20 flex h-full w-full flex-col py-4 pl-4">
        <div class="flex-shrink text-left">
            <a href="/" aria-label="byPete - home">
                <Icon
                    name="bypete--white"
                    title="byPete logo in white"
                    class="banner__logo h-8 w-auto !shadow-brand-dark transition-all"
                />
            </a>
        </div>
        <ul
            id="mobilenavigation"
            class="flex w-full grow flex-col justify-center space-y-3"
        >
            <li class="relative">
                <MobileLink url={`/about`} title="About" {pathname} />
            </li>

            <li x-data="{ open: false }">
                <div class="relative flex items-center justify-between">
                    <MobileLink url={`/work`} title="Work" {pathname} />
                    <button
                        @click="open = !open"
                        class="flex h-10 w-10 items-center justify-center rounded-full p-0 text-menusm transition-transform duration-700 focus:outline-none"
                        :class="{'rotate-45': open, 'rotate-0': !open}"
                    >
                        <Icon
                            name="lucide:plus-circle"
                            class="inline h-8 w-8 transform duration-200"
                        />
                    </button>
                </div>
                <div
                    x-cloak
                    x-ref="children"
                    class="h-0 w-full origin-top transition-all duration-700"
                    :class="open ? 'overflow-auto mt-2' : 'overflow-hidden pointer-events-none' "
                    :style="open ? {height: `${$refs.children.scrollHeight}px`} : {height: `0px`}"
                >
                    <div
                        class="max-h-[33vh] overflow-y-scroll rounded-tight bg-panel p-2 shadow-inner shadow-panel-contrast"
                    >
                        {
                            allPosts.map((post) => (
                                <MenuLinkChild
                                    url={`/${post.collection}/${post.slug}/`}
                                    title={post.data.title}
                                    {pathname}
                                    {currentPath}
                                />
                            ))
                        }
                    </div>
                </div>
            </li>
            <li class="relative">
                <MobileLink url={`/connect`} title="Connect" {pathname} />
            </li>
        </ul>
        <ul class="-mx-2 mt-8 inline-flex text-menusm">
            <li class="border-r border-white px-2 last:border-0">©{year}</li>
            <li class="border-r border-white px-2 last:border-0">
                <a href="/about/legal" class="link">Legal notices</a>
            </li>
        </ul>
    </div>
</div>
