---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
import MobileLink from './MobileLink.astro';
import MenuLinkChild from './MenuLinkChild.astro';

const allPosts = await getCollection('work');
const pathname = new URL(Astro.request.url).pathname;
const year = new Date().getFullYear();
---

<div
    class="fixed inset-0 z-banner flex h-full bg-brand x-cloak:opacity-0"
    x-show="smNav"
    x-cloak
    x-transition:enter="transition ease-out duration-500"
    x-transition:enter-start="transform opacity-0"
    x-transition:enter-end="transform opacity-100 "
    x-transition:leave="transition ease-in duration-75"
    x-transition:leave-start="transform opacity-100 "
    x-transition:leave-end="transform opacity-0 "
>
    <div
        class="mr-fl-space-2xl grid h-full w-full grid-cols-1 grid-rows-mobilenav py-fl-space-s pl-fl-space-m"
    >
        <a href="/" aria-label="byPete - home">
            <Icon
                name="bypete__white"
                title="byPete logo in white"
                class="h-fl-space-l w-auto !shadow-brand-dark transition-all"
            />
        </a>
        <ul id="mobilenavigation" class="w-full self-center">
            <li class="relative">
                <MobileLink url={`/about/`} title="About" {pathname} />
            </li>

            <li x-data="{ open: false }">
                <div class="relative flex items-center justify-between">
                    <MobileLink url={`/work/`} title="Work" {pathname} />
                    <button
                        aria-label="open menu"
                        @click="open = !open"
                        class="flex h-fl-space-l items-center justify-center rounded-full p-0 text-menusm transition-transform duration-700 focus:outline-none"
                        :class="{'rotate-45': open, 'rotate-0': !open}"
                    >
                        <Icon
                            name="lucide:plus-circle"
                            class="inline h-fl-space-l w-auto transform duration-200"
                        />
                    </button>
                </div>
                <div
                    x-cloak
                    x-ref="children"
                    class="h-0 w-full origin-top transition-all duration-700"
                    :class="open ? 'overflow-auto ' : 'overflow-hidden pointer-events-none' "
                    :style="open ? {height: `${$refs.children.scrollHeight}px`} : {height: `0px`}"
                >
                    <div
                        class="max-h-[33vh] overflow-y-scroll rounded-tight bg-surface p-fl-space-2xs shadow-inset"
                    >
                        {
                            allPosts.map((post) => (
                                <MenuLinkChild
                                    url={`/${post.collection}/${post.slug}/`}
                                    title={post.data.title}
                                    {pathname}
                                />
                            ))
                        }
                    </div>
                </div>
            </li>
            <li class="relative">
                <MobileLink url={`/connect/`} title="Connect" {pathname} />
            </li>
        </ul>
        <ul class="-mx-fl-space-2xs inline-flex text-menusm">
            <li class="border-r border-white px-fl-space-2xs last:border-0">
                ©{year}
            </li>
            <li class="border-r border-white px-fl-space-2xs last:border-0">
                <a href="/about/legal/" class="link">Legal notices</a>
            </li>
        </ul>
    </div>
</div>
