---
import { getCollection } from 'astro:content';
import { formatBlogPosts } from '~/js/utils';
import { Icon } from 'astro-icon/components';
import MobileLink from './MobileLink.astro';

import MobileLinkChild from './MobileLinkChild.astro';
import MenuDropdown from './MenuDropdown.astro';
import siteInfo from '~/data/site';
import Social from './Social.astro';
import ThemeIcon from './ThemeIcon.astro';

const allPosts = await getCollection('work');

const formattedPosts = formatBlogPosts(allPosts, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: true,
});

interface Props {
    class?: string;
    isHeroDark: boolean;
    id?: string;
}

const pathname = new URL(Astro.request.url).pathname;
const currentPath =
    pathname.slice(-1) === '/' ? pathname.slice(0, -1) : pathname;

const { id, class: ClassName, isHeroDark = false } = Astro.props;
const year = new Date().getFullYear();
---

<div
    id={id}
    class="invisible fixed bottom-0 right-0 top-0 h-full w-[85vw] overflow-y-scroll bg-brand px-fl-space-m shadow-offcanvas md:w-[60vw] xl:hidden"
    data-lenis-prevent
    x-cloak
>
    <div
        id="mobileNavigation"
        class="flex h-screenDvh w-full flex-col justify-between py-fl-space-2xl"
    >
        <a href="/" aria-label="byPete - home">
            <Icon
                name="bypete__white"
                title="byPete logo"
                class="h-fl-space-l w-auto shadow-brand-shade drop-shadow-sm"
            />
        </a>
        <nav>
            <ul
                x-ref="menu"
                class="my-fl-space-m self-center shadow-brand-shade/50 text-shadow-emboss"
            >
                <li>
                    <MobileLink url={`/about/`} title="About" {pathname} />
                </li>
                <li
                    x-data="{ isOpen: false}"
                    x-id="['accordion-header-id', 'accordion-panel-id']"
                    :aria-expanded="isOpen"
                >
                    <div
                        class="flex items-center justify-between gap-x-fl-space-s"
                    >
                        <MobileLink url={`/work/`} title="Work" {pathname} />
                        <button
                            class="text-content-dark"
                            aria-label="Expand menu"
                            :id="$id('accordion-header-id')"
                            :aria-label="isOpen ? 'Close list' : 'Open list'"
                            :aria-expanded="isOpen"
                            :aria-controls="$id('accordion-panel-id')"
                            @click="isOpen = !isOpen"
                        >
                            <Icon
                                name="lucide:x"
                                title="close icon"
                                x-bind:class="{'0': isOpen, '-rotate-45': !isOpen}"
                                class="h-fl-space-m w-fl-space-m text-content-dark transition-transform duration-500"
                            />
                        </button>
                    </div>
                    <ul
                        x-cloak
                        x-ref="children"
                        class="h-0 w-full origin-top overflow-y-scroll transition-all duration-700"
                        :id="$id('accordion-panel-id')"
                        :class="isOpen ? 'overflow-auto ' : 'overflow-hidden pointer-events-none' "
                        :style="isOpen ? {height: `${$refs.children.scrollHeight}px`} : {height: `0px`}"
                    >
                        {
                            formattedPosts.map((post) => (
                                <li>
                                    <MobileLinkChild
                                        url={`/${post.collection}/${post.slug}/`}
                                        title={post.data.title}
                                        {pathname}
                                    />
                                </li>
                            ))
                        }
                    </ul>
                </li>

                <li>
                    <MobileLink url={`/connect/`} title="Connect" {pathname} />
                </li>
            </ul>
        </nav>
        <div>
            <div class="-mx-fl-space-2xs my-fl-space-m flex justify-start">
                {
                    siteInfo.socials.map((channel) => (
                        <Social
                            platform={channel.platform}
                            url={channel.url}
                            class="text-content-dark hover:text-brand"
                            name={channel.icon}
                        />
                    ))
                }
            </div>
            <ul
                class="divide-content-outline grid grid-cols-[auto_1fr] grid-rows-1 justify-start divide-x text-content-dark"
            >
                <li class="px-fl-space-2xs first:pl-0 last:border-0 last:pr-0">
                    ©{year}
                </li>
                <li class="px-fl-space-2xs first:pl-0 last:border-0 last:pr-0">
                    <a href="/about/legal/" class="link">Legal notices</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<button
    class="fixed right-[85vw] top-0 z-1000 h-full w-[15vw] opacity-0 md:right-[60vw] md:w-[40vw]"
    @click="isMobileNavOpen = false"
    x-show="isMobileNavOpen"></button>
