---
import { getCollection } from 'astro:content';
import { formatBlogPosts } from '~/js/utils';
import MenuLink from './MenuLink.astro';
import MenuLinkChild from './MenuLinkChild.astro';
import MenuDropdown from './MenuDropdown.astro';

const allPosts = await getCollection('work');

const formattedPosts = formatBlogPosts(allPosts, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: true,
});

const pathname = new URL(Astro.request.url).pathname;

interface Props {
    class: string;
    isHeroDark: boolean;
}

const { class: ClassList, isHeroDark = false } = Astro.props;
---

<nav
    id="navigation"
    aria-label="Main"
    class:list={[ClassList ? ClassList : '']}
>
    <ul class="hidden space-x-2 md:flex" x-ref="menu">
        <li>
            <MenuLink url={`/about`} title="About" {pathname} {isHeroDark} />
        </li>
        <MenuDropdown url={`/work`} title="Work" {pathname} {isHeroDark}>
            {
                (
                    <ul
                        class:list={[
                            '',
                            allPosts.length > 6
                                ? 'grid w-auto max-w-[420px] grid-cols-dropmenu p-1.5'
                                : 'grid w-auto min-w-[200px] grid-cols-1 p-1.5',
                        ]}
                    >
                        {formattedPosts.map((post) => (
                            <li>
                                <MenuLinkChild
                                    url={`/${post.collection}/${post.slug}/`}
                                    title={post.data.title}
                                    {pathname}
                                />
                            </li>
                        ))}
                    </ul>
                )
            }
        </MenuDropdown>
        <li>
            <MenuLink
                url={`/connect`}
                title="Connect"
                {pathname}
                {isHeroDark}
            />
        </li>
    </ul>
</nav>
