---
import { Icon } from 'astro-icon/components';
interface Props {
    name: string;
    url: string;
    platform: string;
    wrap?: string;
    css?: string;
}
const {
    platform,
    url,
    name,
    wrap = 'text-content-light hover:text-brand mx-fl-space-2xs',
    css = 'w-fl-space-m h-fl-space-m fill-current',
} = Astro.props;
---

<a href={`${url}`} rel="nofollow" class={wrap} title={platform}>
    <Icon {name} class={css} />
</a>
