---
import Tags from '~/components/ui/Tags.astro';
import { Image } from 'astro:assets';
import ReadTime from './ui/ReadTime.astro';

interface CoverImage {
    src: ImageMetadata;
    alt: string;
}
interface ProductImage {
    src: ImageMetadata;
    alt: string;
}
interface LogoImage {
    src: ImageMetadata;
    light?: ImageMetadata;
}

interface Props {
    title: string;
    featured: boolean;
    url: string;
    cover: CoverImage;
    logo: LogoImage;
    product: ProductImage;
    taster: string;
    tags: string[];
    readTime: string;
}
const { title, featured, url, cover, logo, product, taster, tags, readTime } =
    Astro.props;
---

<a
    href={url}
    animate-card
    class="group relative grid w-full grid-rows-workcard rounded-tight bg-surface-raised no-underline opacity-0 shadow-raised hover:no-underline hover:shadow-lg hover:duration-300"
>
    <div
        class="relative block overflow-hidden bg-line-quiet pb-photo hover:rounded-t-tight"
    >
        <Image
            src={cover.src}
            alt={cover.alt}
            class="absolute inset-0 m-0 h-full w-full object-cover transition-transform duration-500 group-hover:scale-125 group-focus:scale-125"
            quality="high"
            loading="eager"
            densities={[1.5, 2]}
            width={300}
        />
        {
            logo && (
                <Image
                    src={logo.light || logo.src}
                    densities={[1.5, 2]}
                    width={300}
                    alt={title + ' logo'}
                    class="absolute left-1/2 top-1/2 m-auto h-auto max-w-1/3 -translate-x-1/2 -translate-y-1/2 transition-all duration-200 "
                />
            )
        }
    </div>
    {
        product && (
            <Image
                src={product.src}
                width={300}
                densities={[1.5, 2]}
                alt={product.alt + ' logo'}
                class="z-10 -mt-fl-space-2xl h-fl-space-4xl w-full object-contain transition-transform duration-700 group-hover:scale-125 group-focus:scale-125"
            />
        )
    }
    <div class="px-fl-space-s">
        {readTime && <ReadTime duration={readTime} />}
        <h2
            class="link mb-fl-space-2xs font-headline text-fl-step-1/tight font-extrabold"
            set:html={title}
        />
        {taster && <p class="text-base/snug" set:html={taster} />}
    </div>
    <div class="p-fl-space-s">
        <Tags {tags} />
    </div>
</a>
