---
import utilities from '~/data/utilities.json';
import Tags from '~/components/ui/Tags.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import ReadTime from '~/components/ui/ReadTime.astro';

interface CoverImage {
    src: ImageMetadata;
    alt: string;
    credit?: string;
}

interface Props {
    title: string;
    url: string;
    featured?: boolean;
    cover: CoverImage;
    taster: string;
    tags: string[];
    readTime: string;
}

const {
    title,
    url,
    featured = false,
    cover,
    taster,
    tags,
    readTime,
} = Astro.props;
---

<article
    class="grid grid-cols-1 items-start rounded-sm bg-panel grid-areas-listing_work lg:grid-cols-listing_work lg:grid-areas-listing_work_wide"
>
    <div
        class:list={[
            'rte top-0 grid-in-content lg:sticky',
            utilities.tramline.all,
        ]}
        x-data="{ shown: false }"
        x-intersect.threshold.25="shown = true"
        :class="shown ? ' animate-appear' : 'invisible'"
    >
        {readTime && <ReadTime duration={readTime} />}
        <h2
            class:list={['capline font-headline', featured && 'text-fl-step-2']}
        >
            <a href={url} class="link text-headline" set:html={title} />
        </h2>
        {taster && <p set:html={taster} />}
        <Tags {tags} url={true} class:list={[utilities.margin.t]} />
    </div>

    <div
        class:list={[
            'relative block overflow-hidden rounded-sm shadow-thumb shadow-black/20 grid-in-visual',
            featured ? 'pb-square' : 'pb-photo',
        ]}
    >
        <a href={url}>
            {
                featured && (
                    <div class="before:bookmarkclip pointer-events-none absolute right-8 top-0 z-10 block w-12 pb-4 pt-8 text-center drop-shadow-md before:absolute before:inset-0 before:h-full before:w-full before:bg-brand">
                        <div class="relative flex justify-center">
                            <Icon
                                name="mdi:star"
                                class="relative mx-auto h-6 w-6 text-white"
                            />
                            <Icon
                                name="mdi:star"
                                class="absolute mx-auto h-6 w-6 animate-ping text-white opacity-70"
                            />
                        </div>
                    </div>
                )
            }
            <Image
                src={cover.src}
                alt={cover.alt}
                class="absolute inset-0 m-0 h-full w-full object-cover"
                quality="high"
                widths={[400, 960, 1920]}
                sizes={`(max-width: var(--container-width-md)) calc(100vw - 2rem), (max-width: var(--container-width-lg)) calc(100vw - 4rem), calc((100vw - 4rem) *0.60), (min-width: 1264) calc(var(--container-width-max)*0.60)`}
            /></a
        >
    </div>
</article>
