---
import { getCollection, render } from 'astro:content';
import Work from '~/components/Swiper/Work.astro';
import WorkSlide from '~/components/Swiper/WorkSlide.astro';

import { formatBlogPosts } from '~/js/utils';
import SplashLayout from '~/layouts/SplashLayout.astro';

const allWork = await getCollection('work');

const formattedPosts = formatBlogPosts(allWork, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: true,
    limit: undefined,
});

const title = 'Show your workings';

import ogImage from '~/assets/og/og__work.jpg';

const og = {
    title: 'Featured Work',
    description:
        "Take a closer look at some of the projects I've worked on as a Front-End developer.",
    image: {
        src: ogImage,
        alt: 'ByPete Work',
    },
};
---

<SplashLayout title={title} {og}>
    <main id="content">
        <Work>
            {
                formattedPosts.map(async (post) => {
                    const { remarkPluginFrontmatter } = await render(post);
                    const featured = post.data.tags.includes('featured');
                    return (
                        <div class="slide swiper-slide">
                            <WorkSlide
                                url={`/${post.collection}/${post.id}/`}
                                title={post.data.title}
                                taster={post.data.taster}
                                tags={post.data.tags}
                                cover={post.data.cover}
                                logo={post.data.logo}
                                product={post.data.product}
                                readTime={remarkPluginFrontmatter.minutesRead}
                                featured={featured}
                            />
                        </div>
                    );
                })
            }
        </Work>
    </main>
</SplashLayout>
