---
import SplashLayout from '~/layouts/SplashLayout.astro';
import WorkSlide from '~/components/Swiper/WorkSlide.astro';
import Hero from '../../components/hero/Hero.astro';
import Work from '~/components/Swiper/Work.astro';
import imgCover from '~/assets/blocks/inflated-half--slate--cr.webp';
import BlockImage from '~/components/images/BlockImage.astro';
import HeroPicture from '~/components/images/HeroPicture.astro';

import { formatBlogPosts } from '~/js/utils';
import { getCollection } from 'astro:content';
const allWork = await getCollection('work');

const formattedPosts = formatBlogPosts(allWork, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: true,
    limit: undefined,
});
const postCount = allWork.length;

const title = 'Show your workings';
const ogImage = {
    src: '/og/og__about.jpg',
    alt: 'Portfolio Site',
};
const description =
    "Take a closer look at some of the projects I've worked on as a Front-End developer.";
const heroConfig = {
    dark: true,
};
---

<SplashLayout title={title} isHeroDark={heroConfig.dark} {ogImage}>
    <Work>
        {
            formattedPosts.map(async (post) => {
                const { remarkPluginFrontmatter } = await post.render();
                const featured = post.data.tags.includes('featured');
                return (
                    <div class="slide swiper-slide">
                        <WorkSlide
                            url={`/${post.collection}/${post.slug}/`}
                            title={post.data.title}
                            taster={post.data.taster}
                            tags={post.data.tags}
                            cover={post.data.cover}
                            logo={post.data.logo}
                            product={post.data.product}
                            readTime={remarkPluginFrontmatter.minutesRead}
                            featured={featured}
                        />
                    </div>
                );
            })
        }
    </Work>
</SplashLayout>
