---
import Block from '~/components/blocks/Block.astro';
import { Image } from 'astro:assets';
import Button from '~/components/ui/Button.astro';
import RandomLink from '~/components/ui/RandomLink.astro';
import product from '~/content/work/mykringapp/product.png';

import portfolio from '~/data/work';

import { Icon } from 'astro-icon/components';
interface Props {
    wrapper?: string;
    gridHeight?: string;
}
const { wrapper, gridHeight } = Astro.props;
---

<Block
    mode="pair"
    bg="bg-brand"
    data-inview="portfolio"
    wrapper={wrapper ? wrapper : ''}
    grid={`grid mx-auto grid-cols-1 md:grid-cols-2 md:grid-rows-1 gap-fl-space-m max-w-container ${gridHeight ? gridHeight : ''}`}
    breakout={true}
>
    <div class="plusheap absolute inset-0 h-full w-full opacity-20"></div>
    <div
        slot="mc1"
        class="not-prose self-center py-fl-space-m text-content-loud md:order-2"
    >
        <h2
            class="font-headline text-fl-step-3 font-bold leading-tight tracking-tight"
            data-animate="fadeInDown"
        >
            Show and tell
        </h2>
        <p class="mb-fl-space-m" data-animate="fadeInDown">
            Curious to see my work in action? Discover the stories behind my
            projects, the challenges addressed, and the solutions crafted.
        </p>
        <p class="flex flex-row gap-fl-space-3xs">
            <Button data-animate="scaleIn" theme="secondary" href="/work/"
                >Explore the portfolio</Button
            >

            <RandomLink
                theme="disco"
                href="/work/"
                data-animate="scaleIn"
                isIcon={true}
                choices={portfolio.collection}
                >Random pick <Icon
                    name="lucide:shuffle"
                    class="h-fl-space-xs w-auto animate-pulse"
                /></RandomLink
            >
        </p>
    </div>
    <div
        slot="mc2"
        class="not-prose h-full self-center md:order-1"
        data-animate="scaleIn"
    >
        <Image
            src={product}
            quality="high"
            loading="eager"
            densities={[1.5, 2]}
            width={600}
            class="relative m-0 h-full w-full object-contain"
            alt="iPhones with mykring app in use"
        />
    </div>
</Block>

<script>
    import { inView, timeline, type TimelineDefinition, stagger } from 'motion';

    const focus = document.querySelectorAll('[data-inview="portfolio"]');
    inView(
        focus,
        (info) => {
            const queryElementsByAnimation = (animation) => {
                return info.target.querySelectorAll(
                    `[data-animate="${animation}"]`,
                );
            };
            const scaleIn = queryElementsByAnimation('scaleIn');
            const fadeInDown = queryElementsByAnimation('fadeInDown');

            const sequence: TimelineDefinition = [
                [
                    fadeInDown,
                    {
                        opacity: [0, 1],
                        transform: ['translateY(-25%)', 'translateY(0%)'],
                    },
                    { duration: 0.25, delay: stagger(0.1) },
                ],
                [
                    scaleIn,
                    {
                        opacity: [0, 1],
                        scale: [0.85, 1],
                    },
                    { duration: 0.25, delay: stagger(0.25) },
                ],
            ];
            const animation = timeline(sequence, {});

            return (leaveInfo) => animation.reverse();
        },
        { amount: 0.25 },
    );
</script>
