---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import HeapRepeat from '~/assets/svg/heap_repeat_x.svg';

import product from '~/assets/work/mykringapp/product.png';
import Block from '~/components/blocks/Block.astro';
import Button from '~/components/preact/Button';
import pieces from '~/data/work';

interface Props {
    wrap?: string;
    panel?: string;
    aspect?: string;
    shadow?: boolean;
    class?: string;
    mode?: 'plain' | 'breakout' | 'bleed' | 'page';
}
const {
    wrap,
    panel,
    aspect,
    shadow = false,
    mode = 'breakout',
    class: className,
} = Astro.props;
---

<Block
    layout={{ slots: 2, type: 'default' }}
    data-inview="portfolio"
    {mode}
    {shadow}
    {panel}
    {wrap}
    {aspect}
    class:list={[className && className]}
    legibility="text-content-dark"
    slotConfig={{
        1: ['py-fluid-m self-center', '@lg/block:order-2'],
        2: ['@lg/block:self-stretch', '@lg/block:order-1'],
    }}
>
    <div
        slot="background"
        class="absolute inset-0 h-full w-full bg-surface-brand"
    >
        <div
            class="h-full w-full bg-[size:auto_100%] bg-bottom bg-repeat-x opacity-25 bg-blend-soft-light"
            style={`background-image: url(${HeapRepeat.src});`}
        >
        </div>
    </div>

    <Image
        data-animate="scaleIn"
        slot="s2"
        src={product}
        quality={'max'}
        loading="eager"
        densities={[1.5, 2]}
        width={720}
        class="relative bottom-0 h-auto w-full object-contain object-bottom @lg/block:absolute @lg/block:h-[calc(100%+var(--spacing-fluid-2xl))]"
        alt="iPhones with mykring app in use"
    />
    <div slot="s1" class="relative z-(--z-content)">
        <h2
            class="m-0 font-display text-step-4/tight font-black tracking-tight uppercase"
            data-animate="fadeInDown"
        >
            Show and tell
        </h2>
        <p class="mb-fluid-m" data-animate="fadeInDown">
            Discover the stories behind my projects, the challenges addressed,
            and the solutions crafted.
        </p>
        <p class="flex flex-wrap gap-fluid-s">
            <Button data-animate="scaleIn" theme="action" href="/work/"
                >Explore the portfolio</Button
            >
            <Button
                client:load
                theme="disco"
                href="/work/"
                data-animate="scaleIn"
                isIcon={true}
                choices={pieces.collection}
                >Random pick
                <Icon
                    name="lucide:shuffle"
                    class="h-fluid-xs w-auto animate-pulse"
                />
            </Button>
        </p>
    </div>
</Block>

<script>
    import { inView, animate, type AnimationSequence, stagger } from 'motion';

    const focus = document.querySelectorAll('[data-inview="portfolio"]');
    inView(
        focus,
        (el) => {
            const queryElementsByAnimation = (animation) => {
                return el.querySelectorAll(`[data-animate="${animation}"]`);
            };
            const scaleIn = queryElementsByAnimation('scaleIn');
            const fadeInDown = queryElementsByAnimation('fadeInDown');

            const sequenceIn: AnimationSequence = [
                [
                    fadeInDown,
                    {
                        opacity: [0, 1],
                        transform: ['translateY(-25%)', 'translateY(0%)'],
                    },
                    { duration: 0.25, delay: stagger(0.25), at: 0 },
                ],
                [
                    scaleIn,
                    { opacity: [0, 1], scale: [0.85, 1] },
                    { duration: 0.25, delay: stagger(0.25), at: '<' },
                ],
            ];

            animate(sequenceIn, {});

            return (leaveInfo) =>
                animate([
                    [fadeInDown, { opacity: 0 }, { at: 0 }],
                    [scaleIn, { opacity: 0 }, { at: '<' }],
                ]);
        },
        { amount: 0.25 }
    );
</script>
