---
import MainSEO, { type Props as HeadProps } from '~/components/SEO/Main.astro';
import GoogleTagNoScript from '~/components/SEO/GoogleTagNoScript.astro';
import GoogleTag from '~/components/SEO/GoogleTag.astro';
import Header from '~/components/layout/Header.astro';
import Footer from '~/components/layout/Footer.astro';
import Underlay from '~/components/ui/Underlay.astro';
import CookieNotice from '~/components/ui/CookieNotice.astro';
import Shortcuts from '~/components/ui/Shortcuts.astro';
import Accessibility from '~/components/ui/Accessibility.astro';
import Overlay from '~/components/ui/Overlay.astro';
import OffCanvasNavigation from '~/components/layout/OffCanvasNavigation.astro';

const fm = Astro.props.frontmatter || Astro.props;

const { head = {}, isHeroDark = false } = fm;

const isProduction = process.env.NODE_ENV === 'production';
import '~/styles/global.css';
---

<html
    lang="en"
    data-theme="light"
    data-hero={isHeroDark ? 'dark' : 'light'}
    class="group/page h-full max-w-full scroll-smooth"
>
    <head>
        <MainSEO {...head} {isHeroDark} />
        <!-- {isProduction && <GoogleTag />} -->
        <GoogleTag />
    </head>
    <body
        class="bg-surface font-Roboto text-step-0 text-content relative m-0 overflow-x-hidden antialiased"
        x-data="{ isMobileNavOpen: false, showOverlay: false, showUnderlay: false, }"
        x-ref="body"
        id="top"
    >
        {isProduction && <GoogleTagNoScript />}
        <Accessibility
            a11yLinks={[
                { anchor: '#main-content', label: 'content' },
                { anchor: '#navigation', label: 'navigation' },
            ]}
        />

        <div id="wrapperCanvas" class="relative">
            <OffCanvasNavigation id="wrapperOffCanvasRight" {isHeroDark} />

            <Overlay class="bg-overlay-dark/80" />

            <div
                id="wrapperContent"
                class="bg-surface @container/page relative grid grid-cols-1 grid-rows-[auto_1fr_auto]"
            >
                <Header {isHeroDark} />
                <Underlay {isHeroDark} />
                <div class="bg-surface outline-hidden">
                    <div
                        class="shader pointer-events-none absolute inset-0 h-full w-full opacity-[2%]"
                    >
                    </div>
                    <slot />
                </div>
                <Footer />
            </div>
        </div>

        <div
            class="p-fluid-xs not-dynamic:top-[100vh] pointer-events-none fixed top-[100svh] left-1/2 z-(--z-toast) w-full -translate-x-1/2 -translate-y-full md:max-w-sm"
        >
            <CookieNotice />
        </div>

        <Shortcuts />

        <style is:inline>
            /* Alpine.js
---------------------------------------------------------------------------------*/
            [x-cloak] {
                visibility: hidden;
                opacity: 0;
            }
        </style>
        <script>
            import Lenis from '@studio-freight/lenis';
            const lenis = new Lenis();

            const raf = (time) => {
                lenis.raf(time);
                requestAnimationFrame(raf);
            };
            requestAnimationFrame(raf);

            const jumps = document.querySelectorAll('[data-jump]');

            jumps &&
                jumps.forEach((jump) => {
                    jump.addEventListener('click', (e) => {
                        e.preventDefault();
                        const href = jump.getAttribute('href'); // Get the href attribute value
                        history.pushState(
                            '',
                            document.title,
                            window.location.pathname + window.location.search,
                        );

                        if (href && href.startsWith('#')) {
                            lenis.scrollTo(`${href}`);
                        }
                    });
                });
        </script>
    </body>
</html>
