---
import BaseLayout from './BaseLayout.astro';
import { type Props as HeadProps } from '~/components/SEO/Main.astro';

import Tags from '~/components/ui/Tags.astro';
import Link from '~/components/ui/Link.astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import HeroPicture from '~/components/Images/HeroPicture.astro';
import { readableDate, htmlDateString } from '~/js/utils.js';
import TableOfContents from '~/components/ui/TableOfContents.astro';
import WorkPreview from '~/components/ui/WorkPreview.astro';
import BlockPicture from '~/components/Images/BlockPicture.astro';
import ReadTime from '~/components/ui/ReadTime.astro';

const { frontmatter, section, minutesRead, headings, prevPost, nextPost } =
    Astro.props;
let resolvedHeadings = headings;

const fm = frontmatter || Astro.props;

const head: HeadProps = {
    title: fm.title,
    description: fm.description,
    ogTitle: fm.ogTitle || fm.title,
    ogDescription: fm?.ogDescription || '',
    ogImage: fm?.ogImage ?? undefined,
    // Articles
    published_time: fm.pubDate,
    author: fm.author,
    section: section ?? undefined,
    tags: fm.tags,
    pageType: 'article',
};

const isHeroDark = (fm.isHeroDark || (fm.hero && fm.hero.dark)) ?? false;

// if (frontmatter.skillset) {
//     const skillHeading = { depth: 2, slug: 'skills', text: 'Skills' };
//     resolvedHeadings = [skillHeading, ...headings];
// }
---

<BaseLayout head={head} {isHeroDark}>
    <slot name="slothero">
        <div
            class="relative z-10 grid w-full grid-cols-1 shadow-lg shadow-content-dark/10 lg:h-screenSvh lg:grid-cols-2 conpad:grid-cols-workcontianer"
        >
            <div
                class="relative flex h-[75vw] items-center justify-center lg:h-full"
            >
                <HeroPicture
                    src={frontmatter.cover.src}
                    credit={frontmatter.title}
                    alt={frontmatter.cover.alt}
                    widths={[400, 960, frontmatter.cover.src.width]}
                    sizes={'100vw, (min-width: var(--container-width-lg)) 50vw, (min-width: 1264px) 56.25vw'}
                    class="h-full w-full object-cover"
                    wrapper={'absolute inset-0 h-full w-full '}
                />
                {
                    frontmatter.logo && (
                        <Image
                            src={frontmatter.logo.light || frontmatter.logo.src}
                            alt={frontmatter.title + ' logo'}
                            class="relative h-auto w-auto max-w-1/3"
                        />
                    )
                }
            </div>
            <div class="rte self-end px-fl-space-m py-fl-space-xs conpad:pr-0">
                <h1
                    class="capline text-fl-step-3/none"
                    set:html={frontmatter.title}
                /><ReadTime duration={minutesRead} />
                <p>{frontmatter.taster}</p>
                <div class="my-fl-space-m flex justify-between">
                    <Tags tags={frontmatter.tags} url={true} />
                </div>
                <p>
                    <Link
                        theme="outline"
                        isIcon={true}
                        class="hidden transform duration-300 md:inline-flex"
                        href="#start"
                    >
                        Scroll to start <Icon
                            name="lucide:mouse"
                            class="h-4 w-4 animate-nudge-down"
                        />
                    </Link>
                </p>
            </div>
        </div>
    </slot>

    <main
        id="main-content"
        class="relative mx-auto max-w-container pb-fl-space-xl"
    >
        <article id="start" class="relative">
            <div class="rte prose mx-auto max-w-3xl text-fl-step-0">
                {
                    frontmatter.product && (
                        <div class="flex h-photo items-center  justify-center bg-panel-contrast breakout md:h-block">
                            <BlockPicture
                                src={frontmatter.product.src}
                                widths={[480, 1200]}
                                sizes={`100%, (min-width: 1200px) 75rem`}
                                class="h-full w-full object-contain"
                                breakout={false}
                                wrapper="w-full h-full max-w-[75rem]"
                                alt={frontmatter.product.alt}
                                credit={frontmatter.title}
                            />
                        </div>
                    )
                }

                {headings && <TableOfContents headings={resolvedHeadings} />}
                <slot />
            </div>
            <aside class="mx-auto mt-fl-space-m w-full max-w-3xl py-fl-space-m">
                <p class="inline-flex items-center text-fl-step--1 text-quiet">
                    <Icon
                        name="lucide:calendar"
                        class="inline-block h-4 w-auto"
                    />
                    <span class="mx-fl-space-3xs">Last updated:</span>
                    <time
                        datetime={htmlDateString(
                            frontmatter.modDate || frontmatter.pubDate,
                        )}
                        >{
                            readableDate(
                                frontmatter.modDate || frontmatter.pubDate,
                            )
                        }
                    </time>
                </p>
                <Tags
                    tags={frontmatter.tags}
                    url={true}
                    class="mt-fl-space-m"
                />
            </aside>
        </article>
    </main>
    <aside
        class="border-t border-outline bg-panel px-fl-space-m py-fl-space-2xl"
    >
        <div
            class="mx-auto grid max-w-3xl grid-cols-1 justify-between gap-fl-space-l md:grid-cols-prevnext"
        >
            {
                nextPost && (
                    <WorkPreview
                        post={nextPost}
                        class="md:col-start-1"
                        preview={'next'}
                    />
                )
            }
            {
                prevPost && (
                    <WorkPreview
                        post={prevPost}
                        class="md:col-start-2"
                        preview={'prev'}
                    />
                )
            }
        </div>
    </aside>
</BaseLayout>
