---
import { type Props as HeadProps } from '~/components/SEO/Main.astro';
import BaseLayout from './BaseLayout.astro';
import Tags from '~/components/ui/Tags.astro';
import { Icon } from 'astro-icon/components';

import Hero, { type Props as HeroProps } from '~/components/Hero/Hero.astro';
import { readableDate, htmlDateString } from '~/js/utils.js';
import BlockPicture from '~/components/Images/BlockPicture.astro';
import TableOfContents from '~/components/ui/TableOfContents.astro';
import PostPreview from '~/components/ui/PostPreview.astro';

const { frontmatter, minutesRead, headings, prevPost, nextPost } = Astro.props;

const fm = frontmatter || Astro.props;

const head: HeadProps = {
    title: fm.title,
    description: fm.description,
    ogTitle: fm.ogTitle || fm.title,
    ogDescription: fm?.ogDescription || '',
    ogImage: fm?.ogImage ?? undefined,
};

const heroConfig: HeroProps = {
    title: fm.title,
    hero: fm.hero,
};

const isHeroDark = (fm.isHeroDark || (fm.hero && fm.hero.dark)) ?? false;
---

<BaseLayout head={head} {isHeroDark}>
    <slot name="slothero">
        <Hero {...heroConfig} />
    </slot>

    <main
        id="main-content"
        class="relative mx-auto max-w-container py-fl-space-xl"
    >
        <article class="relative">
            <div class="rte prose mx-auto max-w-3xl text-fl-step-0">
                {
                    frontmatter.splash && (
                        <BlockPicture
                            src={frontmatter.splash.src}
                            class="my-0"
                            alt={frontmatter.splash.alt}
                            credit={frontmatter.splash.credit}
                        />
                    )
                }
                {headings && <TableOfContents headings={headings} />}
                <slot />
                <aside class="not-prose mt-fl-space-m w-full py-fl-space-m">
                    <p class="inline-flex items-center">
                        <Icon
                            name="lucide:calendar"
                            class="inline-block h-4 w-auto"
                        />
                        <span class="mx-fl-space-3xs">Last updated:</span>
                        <time
                            class="inline-block rounded bg-outline-pale"
                            datetime={htmlDateString(
                                frontmatter.modDate || frontmatter.pubDate,
                            )}
                            >{
                                readableDate(
                                    frontmatter.modDate || frontmatter.pubDate,
                                )
                            }
                        </time>
                    </p>
                    <Tags
                        tags={frontmatter.tags}
                        url={true}
                        class="mt-fl-space-m"
                    />
                </aside>
            </div>
        </article>
    </main>
    <aside
        class="border-t border-outline bg-panel px-fl-space-s py-fl-space-2xl"
    >
        <div
            class="mx-auto grid max-w-3xl grid-cols-1 justify-between gap-fl-space-l md:grid-cols-prevnext"
        >
            {
                nextPost && (
                    <PostPreview
                        post={nextPost}
                        preview={'next'}
                        class="md:col-start-1"
                    />
                )
            }{
                prevPost && (
                    <PostPreview
                        post={prevPost}
                        preview={'prev'}
                        class="md:col-start-2"
                    />
                )
            }
        </div>
    </aside>
</BaseLayout>
