---
import BaseLayout from './BaseLayout.astro';
import Tags from '~/components/ui/Tags.astro';
import utilities from '~/data/utilities.json';
import Link from '~/components/ui/Link.astro';
import Icon from 'astro-icon';
import { Image } from 'astro:assets';
import { readableDate, htmlDateString } from '~/components/Utils/formatDate.js';
import Skills from '~/components/Skills.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout {...frontmatter}>
    <slot name="hero" slot="hero">
        <div
            class="relative z-10 grid w-full grid-cols-1 shadow-xl shadow-black/10 lg:grid-cols-work conpad:grid-cols-workcontianer"
        >
            <Image src={frontmatter.cover.url} alt={frontmatter.cover.alt} />
            <div
                class:list={[
                    'rte self-end py-4 md:pb-8 lg:pb-12 conpad:pr-0',
                    utilities.tramline.x,
                ]}
            >
                <h1>{frontmatter.title}</h1>
                <p>{frontmatter.taster}</p>

                <Tags
                    tags={frontmatter.tags}
                    url="true"
                    class:list={[
                        'flex w-full flex-wrap items-center gap-2 text-sm leading-none',
                        utilities.margin.y,
                    ]}
                />

                <p>
                    <Link
                        theme="outline"
                        isIcon={true}
                        class="hidden transform duration-300 md:inline-flex"
                        href="#start"
                    >
                        Scroll to start <Icon
                            name="mdi:arrow-down-bold-circle-outline"
                            class="h-4 w-4 animate-nudge-down"
                        />
                    </Link>
                </p>
            </div>
        </div>
    </slot>

    <main
        id="main-content"
        class:list={[
            'relative mx-auto max-w-container ',
            utilities.tramline.double.b,
        ]}
    >
        <article id="start" class="mx-auto max-w-3xl">
            <slot name="skills" slot="skills" />
            <div class="rte prose mx-auto max-w-3xl lg:prose-lg">
                <slot />
            </div>
            <aside
                class="w-full"
                class:list={[
                    'w-full',
                    utilities.tramline.y,
                    utilities.margin.t,
                ]}
            >
                <p>
                    Last updated <time
                        class="inline-block rounded bg-neutral-100 px-2"
                        datetime={htmlDateString(frontmatter.pubDate)}
                        >{readableDate(frontmatter.pubDate)}
                    </time>
                </p>
                <Tags
                    tags={frontmatter.tags}
                    url="true"
                    class:list={[
                        'flex w-full flex-wrap items-center gap-2 text-sm leading-none',
                        utilities.margin.t,
                    ]}
                />
            </aside>
        </article>
    </main>
</BaseLayout>
