---
import BaseLayout from './BaseLayout.astro';
import Tags from '~/components/ui/Tags.astro';
import utilities from '~/data/utilities.json';
import Link from '~/components/ui/Link.astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import HeroPicture from '~/components/Images/HeroPicture.astro';
import { readableDate, htmlDateString } from '~/components/Utils/formatDate.js';
import Skills from '~/components/Skills.astro';
import TableOfContents from '~/components/ui/TableOfContents.astro';
import PrevNext from '~/components/ui/PrevNext.astro';
import BlockPicture from '~/components/Images/BlockPicture.astro';
const { frontmatter, minutesRead, headings, prevPost, nextPost } = Astro.props;
let resolvedHeadings = headings;

if (frontmatter.skillset) {
    const skillHeading = { depth: 2, slug: 'skills', text: 'Skills' };
    resolvedHeadings = [skillHeading, ...headings];
}
---

<BaseLayout {...frontmatter}>
    <slot name="slothero">
        <div
            class="relative z-10 grid w-full grid-cols-1 shadow-xl shadow-black/10 lg:grid-cols-work conpad:grid-cols-workcontianer"
        >
            <HeroPicture
                src={frontmatter.cover.url}
                credit={frontmatter.title}
                alt={frontmatter.cover.alt}
                widths={[780, 960, 1920]}
                sizes={'100vw, (min-width: 1024px) 50vw, (min-width: 1264px) 56.25vw'}
                class="absolute inset-0 h-full w-full object-cover"
                wrapper={'h-square lg:h-auto lg:min-h-screen'}
            />
            <div
                class:list={[
                    'rte self-end py-4 md:pb-8 lg:pb-12 conpad:pr-0',
                    utilities.tramline.x,
                ]}
            >
                <h1 set:html={frontmatter.title} />
                <p>{frontmatter.taster}</p>
                <p class="inline-flex items-center">
                    <Icon
                        name="lucide:timer"
                        class="mr-1 inline-block h-4 w-auto"
                    />
                    {minutesRead}
                </p>
                <Tags
                    tags={frontmatter.tags}
                    url="true"
                    class:list={[
                        'flex w-full flex-wrap items-center gap-2 text-sm leading-none',
                        utilities.margin.y,
                    ]}
                />

                <p>
                    <Link
                        theme="outline"
                        isIcon={true}
                        class="hidden transform duration-300 md:inline-flex"
                        href="#start"
                    >
                        Scroll to start <Icon
                            name="lucide:mouse"
                            class="h-4 w-4 animate-nudge-down"
                        />
                    </Link>
                </p>
            </div>
        </div>
    </slot>

    <main
        id="main-content"
        class:list={[
            'relative mx-auto max-w-container ',
            utilities.tramline.double.b,
        ]}
    >
        <article id="start" class="relative">
            <div class="rte prose mx-auto max-w-3xl lg:prose-lg">
                <Skills
                    skillset={frontmatter.skillset}
                    bg={frontmatter.brand.bg}
                >
                    <h2 id="skills">Skills</h2>
                </Skills>

                {
                    frontmatter.splash && (
                        <BlockPicture
                            src={frontmatter.splash.url}
                            widths={[360, 720, 1400, 2000]}
                            sizes={
                                '(max-width: 360px) 360px, (max-width: 768px) 720px, (max-width: 1280px) 1400px, 2000px'
                            }
                            class="my-0"
                            alt={frontmatter.splash.alt}
                            credit={frontmatter.splash.credit}
                        />
                    )
                }

                {headings && <TableOfContents headings={resolvedHeadings} />}
                <slot />
                <aside
                    class:list={[
                        'not-prose w-full',
                        utilities.tramline.y,
                        utilities.margin.t,
                    ]}
                >
                    <p class="inline-flex items-center">
                        <Icon
                            name="lucide:calendar"
                            class="inline-block h-4 w-auto"
                        />
                        <span class="mx-1.5">Last updated:</span>
                        <time
                            class="inline-block rounded bg-outline-pale px-1.5"
                            datetime={htmlDateString(
                                frontmatter.modDate || frontmatter.pubDate,
                            )}
                            >{
                                readableDate(
                                    frontmatter.modDate || frontmatter.pubDate,
                                )
                            }
                        </time>
                    </p>
                    <Tags
                        tags={frontmatter.tags}
                        url="true"
                        class:list={[
                            'flex w-full flex-wrap items-center gap-2 text-sm leading-none',
                            utilities.margin.t,
                        ]}
                    />
                </aside>
                <PrevNext {prevPost} {nextPost} />
            </div>
        </article>
    </main>
</BaseLayout>
