---
import BaseLayout from './BaseLayout.astro';
import type { Props as HeadProps } from '~/components/SEO/Main.astro';
import PageTools from '~/components/ui/PageTools.astro';

import Hero from '~/components/hero/Hero.astro';
import TocMenu from '~/components/preact/navigation/TocMenu';

const {
    frontmatter,
    headings,
    customHeadings,
    isWide = false,
    prose = true,
} = Astro.props;
const fm = frontmatter || Astro.props;
const { heroConfig = {}, class: className } = fm;
const { hideToc = false, hideBreadcrumbs = false } = fm;

const finalHeadings = headings || customHeadings || []; // Ensure it's always an array

const head: HeadProps = {
    ...fm.head, // Spread any existing values in `fm.head`
    title: fm.title || fm.head?.title,
    description: fm.description || fm.head?.description,
    og: fm.og || fm.head?.og,
};

const isHeroDark = (fm.isHeroDark || fm.heroConfig?.dark) ?? false;

const resolvedHeroConfig = {
    ...heroConfig,
    wrapper: heroConfig.wrapper || '',
    mode: heroConfig.mode || 'plain',
};
---

<BaseLayout {head} {isHeroDark}>
    <main
        id="main-content"
        class:list={['@container/main outline-hidden', className && className]}
    >
        <article
            class="layout relative grid grid-cols-(--gtc-layout)"
            data-layout={isWide ? 'page' : 'content'}
        >
            <Hero
                slot="slothero"
                heroConfig={resolvedHeroConfig}
                title={head.title}
            />

            <div
                class="rte col-[full] grid grid-cols-subgrid gap-y-fluid-s py-fluid-2xl"
            >
                {
                    finalHeadings && finalHeadings.length > 2 && !hideToc && (
                        <TocMenu
                            class="col-[content]"
                            headings={finalHeadings}
                            client:load
                        />
                    )
                }
                <slot />
            </div>
            <PageTools />
        </article>
        <slot name="slotbanner" />
    </main>
</BaseLayout>
