---
import Hero from '~/components/hero/Hero.astro';
import TocMenu from '~/components/preact/navigation/TocMenu';
import type { Props as HeadProps } from '~/components/SEO/Main.astro';
import BaseLayout from './BaseLayout.astro';

const {
    frontmatter,
    headings,
    customHeadings,
    isWide = false,
    hideToc = false,
    hideBreadcrumbs = true,
} = Astro.props;

const fm = frontmatter || Astro.props;
const { heroConfig = {} } = fm;

const finalHeadings = headings || customHeadings || []; // Ensure it's always an array

const head: HeadProps = {
    ...fm.head, // Spread any existing values in `fm.head`
    title: fm.title || fm.head?.title,
    description: fm.description || fm.head?.description,
    og: fm.og || fm.head?.og,
};
---

<BaseLayout {head}>
    <main>
        <article
            data-layout={isWide ? 'page' : 'content'}
            id="content"
            class="layout grid grid-cols-(--gtc-layout) gap-x-(--viewport-safe-inline) outline-hidden"
        >
            <slot name="slothero">
                <Hero config={heroConfig} title={head.title} />
            </slot>
            <div
                id="start"
                class="rte col-[full] grid grid-cols-subgrid gap-y-fluid-m py-fluid-2xl"
            >
                {
                    finalHeadings && finalHeadings.length > 1 && !hideToc && (
                        <TocMenu
                            title={fm.title}
                            headings={finalHeadings}
                            client:load
                        />
                    )
                }
                <slot />
            </div>
        </article>
        {
            Astro.slots.has('footeroverlap') && (
                <aside
                    data-layout="content"
                    class="layout relative z-(--z-content) col-[full] grid grid-cols-(--gtc-layout) gap-fluid-s lg:-mb-fluid-2xl"
                >
                    <slot name="footeroverlap" />
                </aside>
            )
        }
    </main>
</BaseLayout>

<script>
    import { inView, animate, type AnimationSequence, stagger } from 'motion';
    import { splitText } from '~/utils/splitText.client';

    const headings = document.querySelectorAll<HTMLElement>('article h2');

    headings.forEach((heading) => {
        splitText(heading);
    });

    const titles = document.querySelectorAll('article h2 span[data-title]');

    inView(
        titles,
        (el) => {
            const child = el.querySelectorAll('[data-word]');

            const sequenceIn: AnimationSequence = [
                [
                    child,
                    {
                        textShadow: [
                            '0px 0px 0px var(--color-cyan-300), 0px 0px 0px var(--secondary-default)',
                            '-2px -2px 1px var(--color-cyan-300), 2px 2px 1px var(--secondary-default)',
                            '0px 0px 0px var(--color-cyan-300), 0px 0px 0px var(--secondary-default)',
                        ],
                    },
                    { duration: 0.75 },
                ],
                [
                    child,
                    {
                        opacity: [0, 1],
                        y: [10, 0],
                    },
                    { duration: 0.25, delay: stagger(0.125), at: 0 },
                ],
            ];

            animate(sequenceIn, {});

            return (leaveInfo) => animate([[child, { opacity: 0 }, { at: 0 }]]);
        },
        { amount: 0.25 },
    );
</script>
