---
import { type Props as HeadProps } from '~/components/SEO/Main.astro';
import BaseLayout from './BaseLayout.astro';
import Hero, { type Props as HeroProps } from '~/components/Hero/Hero.astro';
import TableOfContents from '~/components/ui/TableOfContents.astro';
import Breadcrumbs from '~/components/ui/Breadcrumbs.astro';

const fm = Astro.props.frontmatter || Astro.props;

const head: HeadProps = {
    title: fm.title,
    description: fm.description,
};

const heroConfig: HeroProps = {
    title: fm.title,
    hero: fm.hero,
};

const { isWide = false } = fm;

const isHeroDark = (fm.isHeroDark || (fm.hero && fm.hero.dark)) ?? false;

const { headings } = Astro.props;
// console.log(`PL | ${Astro.request.url} | Props:`, head, heroObj);
---

<BaseLayout {...head} {isHeroDark}>
    <slot name="slothero">
        <Hero {...heroConfig} />
        <Breadcrumbs title={head.title} />
    </slot>

    <main
        id="main-content"
        class="relative mx-auto max-w-container py-fl-space-xl"
    >
        {
            isWide ? (
                <>
                    {headings && <TableOfContents headings={headings} />}
                    <slot />
                </>
            ) : (
                <div class="rte prose mx-auto max-w-3xl text-fl-step-0 ">
                    {headings && <TableOfContents headings={headings} />}
                    <slot />
                </div>
            )
        }
    </main>
</BaseLayout>
