---
import BaseLayout from './BaseLayout.astro';
import { type Props as HeadProps } from '~/components/SEO/Main.astro';
import Hero, { type Props as HeroProps } from '~/components/hero/Hero.astro';
import TableOfContents from '~/components/ui/TableOfContents.astro';

const fm = Astro.props.frontmatter || Astro.props;
const { heroConfig = {}, class: className } = fm;
const head: HeadProps = {
    ...fm.head, // Spread any existing values in `fm.head`
    title: fm.title || fm.head?.title,
    description: fm.description || fm.head?.description,
    og: fm.og || fm.head?.og,
};

const isHeroDark =
    (fm.isHeroDark || (fm.heroConfig && fm.heroConfig.dark)) ?? false;
const { headings, isWide = false, prose = true } = Astro.props;
const { hideToc = false, hideBreadcrumbs = false } = fm;
---

<BaseLayout {head} {isHeroDark}>
    <slot name="slothero">
        <Hero heroConfig={heroConfig} title={head.title} />
    </slot>
    <main id="main-content" class:list={[className && className]}>
        <div
            class:list={[
                'py-fluid-2xl text-step-0 mx-auto w-full',
                prose && 'rte prose',
                isWide ? 'container' : 'px-fluid-m max-w-3xl',
            ]}
        >
            {
                headings && headings.length > 2 && !hideToc && (
                    <TableOfContents headings={headings} />
                )
            }
            <slot />
        </div>
    </main>
    <slot name="slotbanner" />
</BaseLayout>
