---
import { Image } from 'astro:assets';
import type { HTMLAttributes } from 'astro/types';
import FeaturedIcon from '~/components/ui/FeaturedIcon.astro';
import Tags from '~/components/ui/Tags.astro';

interface CoverImage {
    src: ImageMetadata;
    alt: string;
}
interface ProductImage {
    src: ImageMetadata;
    alt: string;
}
interface LogoImage {
    src: ImageMetadata;
    light?: ImageMetadata;
}

interface Props extends HTMLAttributes<'a'> {
    title: string;
    featured: boolean;
    url: string;
    cover: CoverImage;
    logo: LogoImage;
    product: ProductImage;
    taster: string;
    tags: string[];
    readTime: string;
}

const {
    title,
    featured,
    url,
    cover,
    logo,
    product,
    taster,
    tags,
    readTime,
    ...rest
} = Astro.props;
---

<a
    href={url}
    {...rest}
    class="group @container relative grid w-full grid-rows-(--gtr-workcard) gap-y-fluid-s no-underline opacity-0"
>
    <div
        class="relative grid aspect-classic grid-cols-1 grid-rows-1 items-center overflow-hidden rounded-[10px] bg-surface-raised shadow-raised ring-6 shadow-shadow-dark/25 ring-surface-raised transition-all duration-300 [&>*]:col-start-1 [&>*]:row-start-1"
    >
        <Image
            src={cover.src}
            alt={cover.alt}
            class="relative m-0 h-full w-full object-cover"
            quality={'high'}
            loading="eager"
            densities={[1.5, 2]}
            width={480}
        />
        <div
            class="opactiy-0 absolute inset-0 opacity-0 backdrop-blur-sm backdrop-saturate-125 transition-opacity duration-500 group-hover:opacity-100"
        >
        </div>
        {
            product && (
                <Image
                    src={product.src}
                    width={480}
                    quality={'high'}
                    densities={[1.5, 2]}
                    alt={product.alt + ' logo'}
                    class="z-10 h-full w-full translate-y-0 object-contain p-fluid-m transition-all duration-300 group-hover:-translate-y-full group-hover:opacity-0"
                />
            )
        }
        {
            logo && (
                <Image
                    src={logo.light || logo.src}
                    densities={[1.5, 2]}
                    width={300}
                    alt={title + ' logo'}
                    class="relative m-auto h-auto max-w-1/2 translate-y-full opacity-0 transition-all delay-100 duration-300 group-hover:translate-y-0 group-hover:opacity-100"
                />
            )
        }
        <ul class="absolute top-0 right-fluid-2xs z-10 grid gap-fluid-2xs">
            {
                featured && (
                    <li class="pointer-events-none relative top-0 drop-shadow-overlay drop-shadow-shadow-dark/25">
                        <span class="sr-only">Featured</span>
                        <div class="grid w-fluid-m grid-cols-1 grid-rows-1 items-center justify-center px-1 pt-fluid-2xs pb-fluid-xs">
                            <FeaturedIcon />
                        </div>
                    </li>
                )
            }
        </ul>
    </div>

    <div class="px-fluid-2xs">
        <h2
            class="mb-fluid-2xs text-step-2/tight font-semibold text-content-loud group-hover:text-content-shout"
            set:html={title}
        />
        {taster && <p class="text-base/snug" set:html={taster} />}
    </div>
    <Tags {tags} class="m-0 px-fluid-2xs" />
</a>
