---
import { Icon } from 'astro-icon/components';
const { prevPost, nextPost } = Astro.props;
---

{
    (prevPost || nextPost) && (
        <aside class="mx-auto mt-4 flex flex-row-reverse justify-between gap-8 border-t border-gray-200 py-4 md:mt-8 md:py-8">
            {nextPost && (
                <>
                    <div>
                        <span class="sr-only ">Next:</span>
                        <a
                            class="link inline-flex items-center justify-end gap-1"
                            href={`/${nextPost.collection}/${nextPost.slug}/`}
                        >
                            {nextPost.data.title}
                            <Icon name="lucide:move-right" class="h-6 w-6" />
                        </a>
                    </div>
                </>
            )}

            {prevPost && (
                <>
                    <div>
                        <span class="sr-only ">Previous:</span>
                        <a
                            class="link inline-flex items-center justify-end gap-1"
                            href={`/${prevPost.collection}/${prevPost.slug}/`}
                        >
                            <Icon name="lucide:move-left" class="h-6 w-6" />
                            {prevPost.data.title}
                        </a>
                    </div>
                </>
            )}
        </aside>
    )
}
