---
import { type Post } from '~/components/ui/NextPrev.astro';
import { Image } from 'astro:assets';

type Props = {
    post: Post;
    class?: string;
    direction: string;
};

const { post, class: ClassName, direction } = Astro.props;
const { url, title, excerpt, thumb, overlay } = post || {};
---

<a href={url} class:list={[ClassName, 'group grid grid-cols-1 gap-fluid-2xs']}>
    <span
        class:list={[
            '-mb-fluid-2xs flex w-full items-baseline gap-fluid-3xs px-fluid-3xs text-step-3 leading-[0.65] font-black text-content',
            direction === 'next' && 'flex-row-reverse justify-start',
        ]}
        set:html={direction === 'next' ? 'Next' : 'Previous'}
    />
    {
        thumb && (
            <span class="relative aspect-cinema overflow-hidden rounded-tight xl:aspect-widescreen">
                <Image
                    widths={[400]}
                    quality="high"
                    src={thumb.src}
                    alt={thumb.alt}
                    class="absolute inset-0 m-0 h-full w-full object-cover"
                />
                {overlay && (
                    <Image
                        src={overlay.src}
                        widths={[300]}
                        alt={title + ' logo'}
                        class="absolute top-1/2 left-1/2 m-auto h-auto max-w-1/2 -translate-x-1/2 -translate-y-1/2 transition-transform group-hover:scale-90"
                    />
                )}
            </span>
        )
    }
    <span>
        <h2
            set:html={title}
            class="text-step-1/tight font-bold text-link group-hover:text-link-hover"
        />
        {excerpt && <p class="text-step--1">{excerpt}</p>}
    </span>
</a>
