---
import { type CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

type Props = {
    post: CollectionEntry<'work'>;
    class?: string;
    preview?: 'prev' | 'next';
};

const { post, preview, class: ClassName } = Astro.props;
---

{
    post && (
        <a
            href={`/${post.collection}/${post.slug}/`}
            class:list={['group grid grid-cols-1 gap-fl-space-2xs', ClassName]}
        >
            <span
                class:list={[
                    'flex w-full gap-fl-space-3xs text-fl-step--1 text-quiet',
                    preview === 'prev' && 'flex-row-reverse',
                ]}
            >
                <Icon
                    name={
                        preview === 'next'
                            ? 'lucide:chevron-left-square'
                            : 'lucide:chevron-right-square'
                    }
                    class="h-fl-space-s w-auto"
                />
                {preview === 'next' ? 'Next' : 'Previous'}
            </span>

            <span class="relative overflow-hidden rounded-tight pb-widescreen">
                <Image
                    widths={[400]}
                    quality="high"
                    src={post.data.cover.src}
                    alt={post.data.title}
                    class="absolute inset-0 m-0 h-full w-full object-cover"
                />
                {post.data.logo && (
                    <Image
                        src={post.data.logo.light || post.data.logo.src}
                        widths={[300]}
                        alt={post.data.title + ' logo'}
                        class="absolute left-1/2 top-1/2 m-auto h-auto max-w-1/2 -translate-x-1/2 -translate-y-1/2 transition-transform group-hover:scale-90"
                    />
                )}
            </span>
            <span>
                <h2
                    set:html={post.data.title}
                    class="capline text-fl-step-1/tight font-bold text-accent group-hover:text-accent-light"
                />
                <p class="text-fl-step--1 " set:html={post.data.excerpt} />
            </span>
        </a>
    )
}
